﻿@model ModelLibrary.AgencyDetails
@{
    ViewBag.Title = "AddDistrAgent";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}

<link href="~/Content/css/validation.css" rel="stylesheet" />
<link href="~/Content/css/DatePickerMYcss.css" rel="stylesheet" />
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

<div class="col-md-12">
    <div class="x_panel">

        <div class="x_content">
            @if (TempData["Message"] != null)
            {
                <section class="wrapper">
                    <div class="row">
                        <div class="col-sm-12">
                            <section class="panel">
                                <header class="panel-heading"><h3 class="text-center text-success">@TempData["Message"]</h3></header>
                            </section>
                        </div>
                    </div>
                </section>
            }
            else
            {
                using (Html.BeginForm())
                {
                    <section class="wrapper">
                        <div class="row">
                            <div class="col-sm-12">
                                <section class="panel">
                                    <header class="panel-heading">Add Agent</header>
                                </section>
                                <div class="panel-body" style="padding: 15px; background: #fff">
                                    <h4>Personal Information</h4>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <label>Title <span style="color:red">*</span></label>
                                            @Html.DropDownListFor(p => p.Title, new SelectList(new List<Object>{
                                                  new { value = "Mr." , text = "Mr." },
                                                  new { value = "Ms." , text = "Ms."},
                                                  new { value = "Mrs." , text = "Mrs."}
                                               }, "value", "text"), new { @class = "form-control" })
                                        </div>
                                        <div class="col-sm-4 form-validation">
                                            <label>First Name <span style="color:red">*</span></label>
                                            @Html.TextBoxFor(p => p.FName, new { @class = "form-control", placeholder = "fisrt name.." })
                                        </div>
                                        <div class="col-sm-4 form-validation">
                                            <label>Last Name <span style="color:red">*</span></label>
                                            @Html.TextBoxFor(p => p.LName, new { @class = "form-control", placeholder = "last name.." })
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4 form-validation">
                                            <label>Address <span style="color:red">*</span></label>
                                            @Html.TextBoxFor(p => p.Address, new { @class = "form-control", placeholder = "addres.." })

                                        </div>
                                        <div class="col-sm-4 form-validation">
                                            <label>Country <span style="color:red">*</span></label>
                                            @Html.DropDownListFor(p => p.Country, new SelectList(new List<Object>{
                                                 new { value = "India" , text = "India" },
                                                 new { value = "other" , text = "other"}
                                              }, "value", "text"), new { @class = "form-control" })
                                        </div>
                                        <div class="col-sm-4 form-validation">
                                            <label>State <span style="color:red">*</span></label>
                                            @Html.DropDownListFor(m => m.State, Model.StateList, "-- Select State --", new { @class = "form-control " })
                                        </div>
                                    </div>
                                    <div class="row ">
                                        <div class="col-sm-4 form-validation">
                                            <label>City <span style="color:red">*</span></label>
                                            @Html.TextBoxFor(p => p.City, new { @class = "form-control", placeholder = "city.." })

                                        </div>
                                        <div class="col-sm-4 form-validation">
                                            <label>Area <span style="color:red">*</span></label>
                                            @Html.TextBoxFor(p => p.Area, new { @class = "form-control", placeholder = "area .." })
                                        </div>
                                        <div class="col-sm-4 form-validation">
                                            <label>Pincode <span style="color:red">*</span></label>
                                            @Html.TextBoxFor(p => p.ZipCode, new { @class = "form-control", placeholder = "zip code.." })
                                        </div>
                                    </div>
                                    <h4>Contact Information</h4>
                                    <div class="row">
                                        <div class="col-sm-4 form-validation">
                                            <label>Mobile <span style="color:red">*</span></label>
                                            @Html.TextBoxFor(p => p.Mobile, new { @class = "form-control", placeholder = "mobile.." })

                                        </div>
                                        <div class="col-sm-4 form-validation">
                                            <label>Phone </label>
                                            @Html.TextBoxFor(p => p.Phone, new { @class = "form-control", placeholder = "phone .." })
                                        </div>
                                        <div class="col-sm-4 form-validation">
                                            <label>Email Id <span style="color:red">*</span></label>
                                            @Html.TextBoxFor(p => p.Email, new { @class = "form-control", placeholder = "email.." })
                                        </div>
                                    </div>
                                    <h4>Business Information</h4>
                                    <div class="row">
                                        <div class="col-sm-3 form-validation">
                                            <label>Business Name <span style="color:red">*</span></label>
                                            @Html.TextBoxFor(p => p.Agency_Name, new { @class = "form-control", placeholder = "business Name:*.." })

                                        </div>
                                        <div class="col-sm-3 form-validation">
                                            <label>GST No <span style="color:red">*</span></label>
                                            @Html.TextBoxFor(p => p.GSTNo, new { @class = "form-control", placeholder = "gst no.." })

                                        </div>
                                        <div class="col-sm-3 form-validation">
                                            <label>Name On Pan Card </label>
                                            @Html.TextBoxFor(p => p.NamePanCard, new { @class = "form-control", placeholder = "name on pan card .." })
                                        </div>
                                        <div class="col-sm-3 form-validation">
                                            <label>Pan No <span style="color:red">*</span></label>
                                            @Html.TextBoxFor(p => p.PanNo, new { @class = "form-control", placeholder = "pan no.." })
                                        </div>
                                    </div>
                                    <h4>Authentication Information</h4>
                                    <div class="row">
                                        <div class="col-sm-4 form-validation">
                                            <label>Referred By <span style="color:red">*</span></label>
                                            @Html.DropDownListFor(m => m.SalesExecID, Model.SalesExecList, "--Referred By --", new { @class = "form-control " })
                                        </div>
                                        <div class="col-sm-4 form-validation">
                                            <label>User ID <span style="color:red">*</span></label>
                                            @Html.TextBoxFor(p => p.User_Id, new { @class = "form-control", placeholder = "user id.." })
                                        </div>
                                        <div class="col-sm-4 form-validation">
                                            <label>Password</label>
                                            @Html.TextBoxFor(p => p.Password, new { @class = "form-control", placeholder = "password .." })
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <label>&nbsp;</label>
                                            <button type="submit" class="btn btn-success" id="btnSubmit" style="margin-top:5px;cursor:pointer;float:right" onclick="return CheckForm();">Submit</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                }
            }
        </div>
    </div>
</div>
<script>
    function CheckForm() {
        if (CheckBlankValidation("FName")) return !1;
        if (CheckBlankValidation("LName")) return !1;
        if (CheckBlankValidation("Address")) return !1;
        if (CheckBlankValidation("Country")) return !1;
        if (CheckBlankValidation("City")) return !1;
        if (CheckBlankValidation("Area")) return !1;
        if (CheckBlankValidation("ZipCode")) return !1;
        if (CheckBlankValidation("Mobile")) return !1;
        if (CheckBlankValidation("Email")) return !1;
        if (CheckBlankValidation("Agency_Name")) return !1;
        if (CheckBlankValidation("GSTNo")) return !1;
        if (CheckBlankValidation("NamePanCard")) return !1;
        if (CheckBlankValidation("PanNo")) return !1;
        if (CheckBlankValidation("User_Id")) return !1;
        if (CheckBlankValidation("Password")) return !1;
        $("#btnSubmit").html("Please Wait-.<i class='fa fa-pulse fa-spinner'></i>");
    }
</script>
