﻿@model ModelLibrary.AgencyDetails
@{
    ViewBag.Title = "AgentCreditDebit";
    Layout = "~/Views/Shared/_PopupLayoutPage.cshtml";
}

@section header
{
    <link href="~/Content/css/validation.css" rel="stylesheet" />
}

<div class="x_panel">
    <div class="">
        <h2 class="text-center" style="color: #2495b7;"><i class="fa fa-edit"></i> Agency Credit / Debit</h2>
        <div class="clearfix"></div>
    </div>
    @if (TempData["Message"] != null)
    {
        <div class="x_content">
            <div class="row form-group">
                <div class="col-md-12 col-sm-12  form-group">
                    <h4 class="text-center">@TempData["Message"]</h4>
                </div>
            </div>
        </div>
    }
    else
    {
        using (Html.BeginForm())
        {
            @Html.HiddenFor(p => p.User_Id)
            @Html.HiddenFor(p => p.Agency_Name)
            @Html.HiddenFor(p => p.Agent_Type)
            <div class="row">
                <div class="col-sm-12" style="flex: 0 0 90%; max-width: 90%; margin-left: 43px;border:1px solid #ccc">
                    <div class="row" style="border-bottom: 1px solid #ccc; padding: 3px;">
                        <div class="col-md-6 col-sm-12">
                            <label>
                                User ID : <span style="font-weight: 100; color: red;">@Model.User_Id</span>
                            </label>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <label>	Agency Name : <span style="font-weight: 100; color: red;">@Model.Agency_Name</span></label>
                        </div>
                    </div>
                    <div class="row" style="border-bottom: 1px solid #ccc; padding: 3px;">
                        <div class="col-md-6 col-sm-12">
                            <label>
                                Agency ID : <span style="font-weight: 100; color: red;">@Model.AgencyId</span>
                            </label>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <label>	Type  : <span style="font-weight: 100; color: red;">@Model.Agent_Type</span></label>
                        </div>
                    </div>
                    <div class="row" style="border-bottom: 1px solid #ccc; padding: 3px;">
                        <div class="col-md-6 col-sm-12">
                            <label>
                                Address1 : <span style="font-weight: 100; color: red;">@Model.Address</span>
                            </label>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <label>	Address2  : <span style="font-weight: 100; color: red;">@Model.Address</span></label>
                        </div>
                    </div>
                    <div class="row" style="border-bottom: 1px solid #ccc; padding: 3px;">
                        <div class="col-md-6 col-sm-12">
                            <label>
                                Total Balance : <span style="font-weight: 100; color: red;">@Model.Balance</span>
                            </label>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <label>Credit Limit  : <span style="font-weight: 100; color: red;">@Model.Crd_Limit</span></label>
                        </div>
                    </div>
                    <div class="row" style="border-bottom: 1px solid #ccc; padding: 3px;">
                        <div class="col-md-6 col-sm-12">
                            <label>
                                Due Amount : <span style="font-weight: 100; color: red;">@Model.DueAmount</span>
                            </label>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <label>	Pan No : <span style="font-weight: 100; color: red;">@Model.PanNo</span></label>
                        </div>
                    </div>
                    <div class="row" style="border-bottom: 1px solid #ccc; padding: 3px;">
                        <div class="col-md-6 col-sm-12">
                            <label>
                                Mobile No : <span style="font-weight: 100; color: red;">@Model.Mobile</span>
                            </label>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <label>Email   : <span style="font-weight: 100; color: red;">@Model.Email</span></label>
                        </div>
                    </div>
                    <div class="row" style="border-bottom: 1px solid #ccc; padding: 3px;">
                        <div class="col-md-6 col-sm-12">
                            <div class="row">
                                <div class="col-sm-3">
                                    <label>Amount :</label>
                                </div>
                                <div class="col-sm-9 form-validation" style="margin-top:5px;">
                                    @Html.TextBoxFor(p => p.txt_crd_val, new { @class = "form-control", placeholder = "enter amount..." })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <label>
                                Upload Type   : <span style="font-weight:100;">
                                    <input type="radio" id="fav_language" name="fav_language" value="Cash" checked="checked">
                                    <label for="html">Cash</label>
                                    <input type="radio" id="fav_language" name="fav_language" value="CreditLimit">
                                    <label for="css">CreditLimit</label><br>
                                </span>
                            </label>
                        </div>
                    </div>
                    <div class="row" style="border-bottom: 1px solid #ccc; padding: 3px;">
                        <div class="col-md-1 col-sm-12">
                            <label> Remark:</label>
                        </div>
                        <div class="col-md-10 col-sm-12 form-validation" style="margin-top:5px;">
                            @Html.TextAreaFor(p => p.Remark, new { @class = "form-control", placeholder = "Remark..." })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">

                        </div>
                        <div class="col-sm-3">
                            <button type="submit" class="btn btn-success" id="btnSubmit" value="plus" name="submitButton" style="margin-top:5px;cursor:pointer" onclick="return CheckForm();"><span class="fa fa-plus-circle"></span></button>
                            <button type="submit" class="btn btn-success" id="btnSubmitminu" value="minus" name="submitButton" style="margin-top: 5px; cursor: pointer" onclick="return CheckFormMinus();"><span class="fa fa-minus-circle"></span></button>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
</div>

@section footer
{
    <script>
        function CheckForm() {
            if (CheckBlankValidation("txt_crd_val")) return !1;
            if (CheckBlankValidation("Remark")) return !1;
            $("#btnSubmit").html("<i class='fa fa-pulse fa-spinner'></i>");
        }
        function CheckFormMinus() {
            if (CheckBlankValidation("txt_crd_val")) return !1;
            if (CheckBlankValidation("Remark")) return !1;
            $("#btnSubmitminu").html("<i class='fa fa-pulse fa-spinner'></i>");
        }
    </script>
}
