﻿@model ModelLibrary.AgentUpdateProfile
@{
    ViewBag.Title = "Agency Details";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}

@section header{
    <link href="~/Content/fancybox/jquery.fancybox.css" rel="stylesheet" />
    <link href="~/Content/css/DatePickerMYcss.css" rel="stylesheet" />
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <style>
        /*.wrapper {
            position: relative;
            overflow: auto;*/
        /*border: 1px solid black;*/
        /*white-space: nowrap;
        }*/

        .sticky-col {
            position: sticky;
            position: -webkit-sticky;
            background-color: #ececec;
        }

        .first-col {
            width: 200px;
            min-width: 200px;
            max-width: 200px;
            left: 0px;
        }
        .setlevfromspinner {
            position: absolute;
            top: 9px;
            right: 25px;
            font-size: 23px;
            color: green;
        }
    </style>
}
@{
    Agency_Backoffice.Models.LoginSessionDetails lu = new Agency_Backoffice.Models.LoginSessionDetails();
    if (Agency_Backoffice.Service.AccountService.GetLoginSession(ref lu))
    {
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_content">
                    <section class="wrapper">
                        <div class="row">
                            <div class="col-sm-12">
                                <section class="panel">
                                    <header class="panel-heading">
                                        <i class="icofont-airplane-alt"></i>  Agency Details
                                    </header>
                                    <div class="panel-body" style="padding-top:15px;">
                                        @using (Html.BeginForm())
                                        {
                                            <div class="row form-group">
                                                <div class="col-sm-12">
                                                    <div class="col-sm-4">

                                                        @Html.TextBoxFor(p => p.FromDate, new { @class = "form-control CommanDate", placeholder = "dd/mm/yyy", autocomplete = "off" })
                                                    </div>
                                                    <div class="col-sm-4">

                                                        @Html.TextBoxFor(p => p.ToDate, new { @class = "form-control CommanDate", placeholder = "dd/mm/yyy", autocomplete = "off" })
                                                    </div>
                                                    <div class="col-sm-4">
                                                        @Html.TextBoxFor(p => p.AgencyName, new { @class = "form-control", placeholder = "AgencyName.." })
                                                        <i class="fa fa-spin fa-spinner hidden setspinner setlevfromspinner"></i>
                                                        @Html.HiddenFor(p => p.AgentId)
                                                    </div>

                                                </div>
                                                <div class="col-sm-12 form-group">
                                                    <div class="col-sm-3">
                                                        <input type="submit" class="btn btn-success form-control maincss" style="cursor:pointer;" onclick="return CheckForm()" value="SEARCH RESULT" />
                                                        <span class="btn btn-success form-control tempscss hidden">PLEASE WAIT..<i class="fa fa-spinner fa-spin"></i></span>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </section>
                            </div>
                        </div>
                    </section>
                    <section class="wrapper">
                        <div class="row">
                            <div class="col-sm-12">
                                <section class="panel">
                                    <header class="panel-heading">
                                        <i class="icofont-search-document"></i>  Agency Details
                                        <span class="tools pull-right">
                                            @if (Model.Totalcount > 0)
                                            {
                                                using (Html.BeginForm("AgentDetaildExportToExcel", "Account", FormMethod.Post))
                                                {
                                                    <button type="submit" style="cursor:pointer;"><span class="icofont-file-excel"></span> Export</button>
                                                }
                                            }
                                        </span>
                                    </header>
                                    <div class="panel-body table-responsive" style="overflow:scroll;">
                                        <table class="table table-collapse-phone" cellspacing="0" width="100%" ShowHeaderWhenEmpty="true">
                                            <thead>
                                                <tr>
                                                    <th class="sticky-header">DEBIT/CREDIT</th>
                                                    <th>AGENCY NAME</th>
                                                    <th>USER ID</th>
                                                    <th>AGENCY ID</th>
                                                    <th>TOTAL_BALANCE</th>
                                                    <th>AGENT LIMIT</th>
                                                    <th>DUE_AMOUNT</th>
                                                    <th>REGISTRATION DATE</th>
                                                    <th>TRANSACTION DATE</th>
                                                    <th>EMAIL</th>
                                                    <th>MOBILE</th>
                                                    <th>SALES REF</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (Model.Totalcount > 0)
                                                {
                                                    foreach (var item in Model.AgencyList)
                                                    {
                                                        <tr>
                                                            <td class="sticky-row"> <a data-fancybox-type="iframe" data-fancybox-href="@item.DebitCrediturl" class="text-info popupclassreload anchorlinkred">DEBIT/CREDIT</a></td>
                                                            <td>@item.AgencyName</td>
                                                            <td><a target="_blank" style="color:green !important;font-weight:bold;" href="@item.AgentDetailUrl">@item.user_id</a></td>
                                                            <td>@item.AgentId</td>
                                                            <td>@item.Crd_Limit</td>
                                                            <td>@item.AgentLimit</td>
                                                            <td>@item.DueAmount</td>
                                                            <td>@item.timestamp_create</td>
                                                            <td>@item.Crd_Trns_Date</td>
                                                            <td>@item.AgentEmail</td>
                                                            <td>@item.GSTPhoneNo</td>
                                                            <td>@item.SalesExec</td>
                                                        </tr>
                                                    }
                                                }
                                                else
                                                {
                                                    <tr>
                                                        <td colspan="22" class="text-center">
                                                            <p class="text-danger">No result found!</p>
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    }
}
@section footer{
    <script src="~/Content/fancybox/jquery.fancybox.js"></script>
    <script src="~/Content/fancybox/fancyboxpopupopen.js"></script>
    <script src="~/Content/js/loginpage/DatePicker.js"></script>
    <script src="~/Content/js/custom/autocomplete.js"></script>
    <script>
        function CheckForm() {
            var AgencyName = $("#AgencyName").val();
            if (AgencyName== "") {
                $("#AgentId").val("");
            }
            $('.maincss').addClass('hidden');
            $('.tempscss').removeClass('hidden');
        }
        $('.fancybox-close').click(function () {
            location.reload();
        })
    </script>
}