﻿@model ModelLibrary.AgentProfileModel

@{
    ViewBag.Title = "AgentProfile";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}
@section header
{
    <style>
        .panel-body {
            padding: 15px;
        }



        .panel-heading {
            padding: 10px 15px;
            border-bottom: 1px solid transparent;
            color: #333;
            background-color: #ffffff;
            border-color: #ddd;
            font-weight: bold;
            font-size: 16px;
        }

        .panel-default {
            margin-bottom: 20px;
            background-color: #fff;
            -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
            box-shadow: 0 1px 1px rgba(0,0,0,.05);
            border: 1px solid #ccc;
        }

        .pcolr {
            color: #8a8888;
            margin-bottom: 2px;
        }

        .lableSize {
            font-size: 15px;
            font-weight: bold;
            color: #8a8888;
            font-family: unset;
            margin-bottom: 2px;
        }

        .Greenfont {
            color: green;
            font-weight: bold;
        }

        .updatebtn {
            font-size: 20px;
            float: right;
            margin-top: -63px;
            border: 1px solid #ccc;
            background: #57359a;
            border-radius: 4px;
            box-shadow: 0px 0px 3px #848484;
            cursor: pointer;
        }
    </style>
}
<div class="x_panel">

    <div class="x_content">



        <section class="wrapper">
            <div class="row">
                <div class="col-sm-12">
                    <section class="panel">

                        <header class="panel-heading">
                            @Model.Agency_Name
                            <h4 style="color: #8a8888;font-size:11px;">Business Account</h4>
                        </header>
                        <div class="panel-body" style="padding:15px;">
                            <div class="row">
                                <div class="col-sm-4">
                                    <label class="lableSize">Name</label>
                                    <p class="pcolr">@Model.FName @Model.LName</p>
                                </div>
                                <div class="col-sm-4">
                                    <label class="lableSize">
                                        Communication Address
                                    </label>
                                    <p class="pcolr">@Model.Address</p>
                                </div>
                                <div class="col-sm-4">
                                    <label class="lableSize">Agency Name</label>
                                    <p class="pcolr">@Model.Agency_Name</p>
                                </div>


                                <input id="hdnPass" type="hidden" value="@Model.Password" />
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-sm-4">
                                    <label class="lableSize">Mobile</label>
                                    <p class="pcolr">@Model.Mobile</p>
                                </div>
                                <div class="col-sm-4">
                                    <label class="lableSize">Email</label>
                                    <p class="pcolr">@Model.Email</p>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </section>

        <section class="wrapper">
            <div class="row">
                <div class="col-sm-12">
                    <section class="panel">

                        <header class="panel-heading">
                            SECURITY & SETTING
                        </header>
                        <div class="panel-body" style="padding:15px;">
                            <div class="row Security">
                                <div class="col-sm-12">
                                    <div class="col-sm-6">
                                        <label class="lableSize">User ID</label>
                                    </div>
                                    <div class="col-sm-6">
                                        <p class="pcolr Greenfont">@Model.User_Id</p>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-6">
                                        <label class="lableSize">Password</label>
                                    </div>
                                    <div class="col-sm-6">
                                        <p class="pcolr Greenfont">****** &nbsp;&nbsp;&nbsp;<span class="pcolr Greenfont" style="cursor:pointer;" id="change">Change</span></p>
                                    </div>
                                </div>
                            </div>
                            <div class="row Securityupdate hidden">
                                <div class="col-sm-12 form-group">
                                    <div class="col-sm-6">
                                        <label class="lableSize">Old Password</label>
                                    </div>
                                    <div class="col-sm-6 form-validation">
                                        <input type="password" class="form-control" id="txtAgencyOldPass" placeholder="Old Password" />
                                        <span id="errorwrongpass" class="text-danger pull-right"></span>
                                    </div>
                                </div>
                                <div class="col-sm-12 form-group">
                                    <div class="col-sm-6">
                                        <label class="lableSize">Password</label>
                                    </div>
                                    <div class="col-sm-6 form-validation">
                                        <input type="password" class="form-control" id="txtAgencyNewPass" placeholder="New Password" />
                                    </div>
                                </div>
                                <div class="col-sm-12 form-group">
                                    <div class="col-sm-6">
                                        <label class="lableSize">Confirm Password</label>
                                    </div>
                                    <div class="col-sm-6 form-validation">
                                        <input type="password" class="form-control" id="txtAgencyNewConfPass" placeholder="Confirm Password" />
                                    </div>
                                </div>
                                <div class="col-sm-12 form-group">
                                    <button class="btn btn-success" id="btnUpdateSecurity" onclick="UpdateSecurityFeature();">Update</button>
                                    <button class="btn btn-dark" id="cancel">Cancel</button>
                                </div>
                            </div>

                        </div>
                    </section>
                </div>
            </div>
        </section>


        <section class="wrapper">
            <div class="row">
                <div class="col-sm-12">
                    <section class="panel">
                        <header class="panel-heading">
                            GST DETAILS
                            <a title="GST Update" data-toggle="tooltip" class="updatebtn" style="margin-top: -3px; background: no-repeat; box-shadow: none; border: none;" id="gstbtn"><span class="fa fa-pencil-square-o" style="color: #dadada !important"></span></a>
                        </header>
                        <input id="hdnGstApplied" type="hidden" value="@Model.Is_GST_Apply" />
                        <div class="panel-body row" id="IfGSTApplied" style="padding:15px;">
                            <div class="col-sm-12 form-group">
                                @if (Model.Is_GST_Apply.ToLower().Trim() == "true")
                                {
                                    <div class="row">
                                        <div class="col-sm-6 form-group">
                                            <div class="row">
                                                <div class="col-sm-5 form-group">
                                                    GST Applied
                                                </div>
                                                <div class="col-sm-2 form-group">::</div>
                                                <div class="col-sm-5 form-group">
                                                    Applied
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row gsthaiapplied">
                                        <div class="col-sm-6 form-group" style="border-right: 1px solid #ccc;">
                                            <div class="row">
                                                <div class="col-sm-5 form-group">
                                                    GST NO
                                                </div>
                                                <div class="col-sm-2 form-group">::</div>
                                                <div class="col-sm-5 form-group">
                                                    @Model.GST_Number
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 form-group">
                                            <div class="row">
                                                <div class="col-sm-5 form-group">
                                                    Company Name
                                                </div>
                                                <div class="col-sm-2 form-group">::</div>
                                                <div class="col-sm-5 form-group">
                                                    @Model.Gst_CompanyName
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row gsthaiapplied">
                                        <div class="col-sm-6 form-group" style="border-right: 1px solid #ccc;">
                                            <div class="row">
                                                <div class="col-sm-5 form-group">
                                                    Company Address
                                                </div>
                                                <div class="col-sm-2 form-group">::</div>
                                                <div class="col-sm-5 form-group">
                                                    @Model.Gst_CompAddress
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 form-group">
                                            <div class="row">
                                                <div class="col-sm-5 form-group">
                                                    City
                                                </div>
                                                <div class="col-sm-2 form-group">::</div>
                                                <div class="col-sm-5 form-group">
                                                    @Model.Gst_City
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row gsthaiapplied">
                                        <div class="col-sm-6 form-group" style="border-right: 1px solid #ccc;">
                                            <div class="row">
                                                <div class="col-sm-5 form-group">
                                                    State
                                                </div>
                                                <div class="col-sm-2 form-group">::</div>
                                                <div class="col-sm-5 form-group">
                                                    @Model.Gst_State
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 form-group">
                                            <div class="row">
                                                <div class="col-sm-5 form-group">
                                                    Pincode
                                                </div>
                                                <div class="col-sm-2 form-group">::</div>
                                                <div class="col-sm-5 form-group">
                                                    @Model.Gst_Pincode
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row gsthaiapplied">
                                        <div class="col-sm-6 form-group" style="border-right: 1px solid #ccc;">
                                            <div class="row">
                                                <div class="col-sm-5 form-group">
                                                    Phone No
                                                </div>
                                                <div class="col-sm-2 form-group">::</div>
                                                <div class="col-sm-5 form-group">
                                                    @Model.Gst_Phone
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 form-group">
                                            <div class="row">
                                                <div class="col-sm-5 form-group">
                                                    Email
                                                </div>
                                                <div class="col-sm-2 form-group">::</div>
                                                <div class="col-sm-5 form-group">
                                                    @Model.Gst_Email
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="row">
                                        <div class="col-sm-2 form-group">
                                            GST Applied
                                        </div>
                                        <div class="col-sm-2 form-group">::</div>
                                        <div class="col-sm-8 form-group">
                                            <span class="text-danger">Not Applied</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-2 form-group">
                                            Remark
                                        </div>
                                        <div class="col-sm-2 form-group">::</div>
                                        <div class="col-sm-8 form-group">
                                            @Model.GST_Remark
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>

                        @*<div class="panel-body hidden" id="IfNOTGSTApplied">
                            <div class="row  Gstdetails">
                                <div class="col-sm-12">
                                    <div class="col-sm-6">
                                        <label class="lableSize">GST Applied</label>
                                    </div>
                                    <div class="col-sm-6">
                                        <p class="pcolr Greenfont">
                                            @(Model.Is_GST_Apply.ToLower() == "true" ? "Applied" : "Not Applied")
                                        </p>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-6">
                                        <label class="lableSize">Remark</label>
                                    </div>
                                    <div class="col-sm-6">
                                        <p class="pcolr Greenfont">@(!string.IsNullOrEmpty(Model.GST_Remark) ? Model.GST_Remark : "- - -")</p>
                                    </div>
                                </div>
                            </div>*@
                        <div class="row panel-body Gstdetailsupadte hidden">
                            <div class="col-sm-12 form-group">
                                <div class="col-sm-6">
                                    <label class="lableSize">GST Applied</label>
                                </div>
                                <div class="col-sm-6">
                                    <label class="radio-inline lableSize" style="margin-left: 15px;margin-right: 15px;">
                                        <input type="radio" name="gsttype" id="appliedgst" value="Applied">&nbsp;Applied
                                    </label>
                                    <label class="radio-inline lableSize">
                                        <input type="radio" name="gsttype" id="notAppliedgst" value="Not Applied" checked>&nbsp;Not Applied
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-12 form-group appiledbox hidden">
                                <div class="row">
                                    <div class="col-sm-12 form-group">
                                        <div class="col-sm-4">
                                            <label class="lableSize">GST No</label>
                                            @Html.TextBoxFor(p => p.GST_Number, new { @class = "form-control ", placeholder = "Gst No." })
                                        </div>
                                        <div class="col-sm-4">
                                            <label class="lableSize">Company Name</label>
                                            @Html.TextBoxFor(p => p.Gst_CompanyName, new { @class = "form-control ", placeholder = "Company name" })
                                        </div>
                                        <div class="col-sm-4">
                                            <label class="lableSize">Company Address</label>
                                            @Html.TextBoxFor(p => p.Gst_CompAddress, new { @class = "form-control ", placeholder = "Company address" })
                                        </div>
                                    </div>
                                    <div class="col-sm-12 form-group">
                                        <div class="col-sm-4">
                                            <label class="lableSize">State</label>
                                            @Html.DropDownListFor(m => m.Gst_State, Model.StateList, "-- Select State --", new { @class = "form-control ", @onchange = "FillCityList()" })
                                        </div>
                                        <div class="col-sm-4">
                                            <label class="lableSize">City</label>
                                            @Html.DropDownListFor(m => m.Gst_City, Model.CityList, "-- Select City --", new { @class = "form-control " })
                                        </div>
                                        <div class="col-sm-4">
                                            <label class="lableSize">Pincode</label>
                                            @Html.TextBoxFor(p => p.Gst_Pincode, new { @class = "form-control ", placeholder = "pin code", maxlength = "6", autocomplete = "off", onkeypress = "return isNumberValidationPrevent(event);" })
                                        </div>
                                    </div>
                                    <div class="col-sm-12 form-group">
                                        <div class="col-sm-4">
                                            <label class="lableSize">Phone No</label>
                                            @Html.TextBoxFor(p => p.Gst_Phone, new { @class = "form-control ", placeholder = "Phone Number", maxlength = "10", autocomplete = "off", onkeypress = "return isNumberValidationPrevent(event);" })
                                        </div>
                                        <div class="col-sm-4 form-validation">
                                            <label class="lableSize">Email</label>
                                            @Html.TextBoxFor(p => p.Gst_Email, new { @class = "form-control ", placeholder = "Email" })
                                        </div>
                                        <div class="col-sm-4">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 form-group notappiledbox">
                                <div class="col-sm-6">
                                    <label class="lableSize">Remark</label>
                                </div>
                                <div class="col-sm-6">
                                    @Html.TextBoxFor(p => p.GST_Remark, new { @class = "form-control ", placeholder = "Remark" })
                                </div>
                            </div>
                            <div class="col-sm-12 form-group">
                                <button class="btn btn-success" id="btnUpdateGstDetail" onclick="UpdateGstDetailFeature();">Update</button>
                                <button class="btn btn-dark" id="gstcancel">Cancel</button>
                            </div>
                        </div>
                    </section>
                </div>

            </div>
        </section>


        <section class="wrapper">
            <div class="row">
                <div class="col-sm-12">
                    <section class="panel">
                        <header class="panel-heading">
                            COMPANY LOGO

                        </header>
                        <div class="panel-body" style="padding:15px;">
                            <div class="row">
                                <div class="col-sm-12 form-group">
                                    <div class="col-sm-3">
                                        <label style="margin-top: 13px;">Logo  :</label>
                                    </div>
                                    <div class="col-sm-9">
                                        <img src="@Model.Image_Url" style="height: 60px;" />
                                    </div>
                                </div>
                                <div class="col-sm-12 form-group">
                                    <div class="col-sm-3">
                                        <label style="margin-top: 13px;">Logo Upload</label>
                                    </div>
                                    <div class="col-sm-3 form-validation">
                                        <input type="file" name="files" id="fluCompLogo" class="form-control">
                                    </div>
                                    <div class="col-sm-3">
                                        <button class="btn btn-success" id="btnUploadCompLogo" onclick="UploadCompanyLogo();">Upload</button>
                                    </div>
                                    <div class="col-sm-3">
                                        <label style="margin-top: 13px;"><b>Note:</b>&nbsp; Image formate must be in JPEG.</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </section>
    </div>
</div>

@section footer
{
    <script src="~/Content/js/custom/agencyprofile.js?v=1"></script>
}
