﻿@model ModelLibrary.AgentUpdateProfile
@{
    ViewBag.Title = "Credit Limit History";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}

@section header{    
    <link href="~/Content/css/DatePickerMYcss.css" rel="stylesheet" />
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <style>       

        .sticky-col {
            position: sticky;
            position: -webkit-sticky;
            background-color: #ececec;
        }

        .first-col {
            width: 200px;
            min-width: 200px;
            max-width: 200px;
            left: 0px;
        }

        .setlevfromspinner {
            position: absolute;
            top: 9px;
            right: 25px;
            font-size: 23px;
            color: green;
        }
    </style>
}
@{
    Agency_Backoffice.Models.LoginSessionDetails lu = new Agency_Backoffice.Models.LoginSessionDetails();
    if (Agency_Backoffice.Service.AccountService.GetLoginSession(ref lu))
    {
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_content">
                    <section class="wrapper">
                        <div class="row">
                            <div class="col-sm-12">
                                <section class="panel">
                                    <header class="panel-heading">
                                        <i class="icofont-airplane-alt"></i>  Agency Details
                                    </header>
                                    <div class="panel-body" style="padding-top:15px;">
                                        @using (Html.BeginForm())
                                        {
                                            <div class="row form-group">
                                                <div class="col-sm-12">
                                                    <div class="col-sm-4">

                                                        @Html.TextBoxFor(p => p.FromDate, new { @class = "form-control CommanDate", placeholder = "dd/mm/yyy", autocomplete = "off" })
                                                    </div>
                                                    <div class="col-sm-4">

                                                        @Html.TextBoxFor(p => p.ToDate, new { @class = "form-control CommanDate", placeholder = "dd/mm/yyy", autocomplete = "off" })
                                                    </div>
                                                    <div class="col-sm-4">
                                                        @Html.TextBoxFor(p => p.AgencyName, new { @class = "form-control", placeholder = "AgencyName.." })
                                                        <i class="fa fa-spin fa-spinner hidden setspinner setlevfromspinner"></i>
                                                        @Html.HiddenFor(p => p.AgentId)
                                                    </div>

                                                </div>
                                                <div class="col-sm-12 form-group">
                                                    <div class="col-sm-3">
                                                        <input type="submit" class="btn btn-success form-control maincss" style="cursor:pointer;" onclick="return CheckForm()" value="SEARCH RESULT" />
                                                        <span class="btn btn-success form-control tempscss hidden">PLEASE WAIT..<i class="fa fa-spinner fa-spin"></i></span>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </section>
                            </div>
                        </div>
                    </section>
                    <section class="wrapper">
                        <div class="row">
                            <div class="col-sm-12">
                                <section class="panel">
                                    <header class="panel-heading">
                                        <i class="icofont-search-document"></i>  Agency Details                                        
                                    </header>
                                    <div class="panel-body table-responsive" style="overflow:scroll;">
                                        <table class="table table-collapse-phone" cellspacing="0" width="100%" ShowHeaderWhenEmpty="true">
                                            <thead>
                                                <tr>
                                                    <th class="sticky-header">User ID</th>
                                                    <th>Agency ID</th>
                                                    <th>Agency Name</th>
                                                    <th>Credit Limit</th>
                                                    <th>Remark</th>
                                                    <th>Updated By</th>
                                                    <th>Updated Date</th>                                                    
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (Model.Totalcount > 0)
                                                {
                                                    foreach (var item in Model.AgencyList)
                                                    {
                                                        <tr>
                                                            <td class="sticky-row">@item.user_id</td>
                                                            <td>@item.AgentId</td>
                                                            <td>@item.AgencyName</td>                                                          
                                                            <td>@item.CurrentCrdLimit</td>
                                                            <td>@item.Remark</td>
                                                            <td>@item.SalesExec</td>
                                                            <td>@item.CreatedDate</td>                                                            
                                                        </tr>
                                                    }
                                                }
                                                else
                                                {
                                                    <tr>
                                                        <td colspan="8" class="text-center">
                                                            <p class="text-danger">No result found!</p>
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    }
}
@section footer{   
    <script src="~/Content/js/loginpage/DatePicker.js"></script>
    <script src="~/Content/js/custom/autocomplete.js"></script>
    <script>
        function CheckForm() {
            var AgencyName = $("#AgencyName").val();
            if (AgencyName== "") {
                $("#AgentId").val("");
            }
            $('.maincss').addClass('hidden');
            $('.tempscss').removeClass('hidden');
        }
        $('.fancybox-close').click(function () {
            location.reload();
        })
    </script>
}