﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Admin Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @*<link rel="icon" type="image/png" href="~/Content/BackEnd_Section/Login/images/icons/favicon.ico" />*@
    <link href="~/Content/css/loginpage/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/Content/css/loginpage/main.css" rel="stylesheet" />
    <script src="~/Content/js/loginpage/jquery-3.2.1.min.js"></script>
    <script src="~/Content/js/loginpage/bootstrap.min.js"></script>
    <script src="~/Content/js/custom/commonfile.js"></script>

    <style>
        .container-login100 {
            background: url('/Content/images/loginpage/backgroundimg.jpeg');
            background-size: cover;
        }

        .header-fixed {
            /*background-color: #292c2f;*/
            box-shadow: 0 1px 1px #ccc;
            padding: 20px 40px;
            height: 80px;
            color: #ffffff;
            box-sizing: border-box;
            top: -100px;
            -webkit-transition: top 0.3s;
            transition: top 0.3s;
        }

            .header-fixed .header-limiter {
                max-width: 1200px;
                text-align: center;
                margin: 0 auto;
            }

        /*	The header placeholder. It is displayed when the header is fixed to the top of the
           browser window, in order to prevent the content of the page from jumping up. */

        .header-fixed-placeholder {
            height: 80px;
            display: none;
        }

        /* Logo */

        .header-fixed .header-limiter h1 {
            float: left;
            font: normal 28px Cookie, Arial, Helvetica, sans-serif;
            line-height: 40px;
            margin: 0;
        }

            .header-fixed .header-limiter h1 span {
                color: #5383d3;
            }

        /* The navigation links */

        .header-fixed .header-limiter a {
            color: #ffffff;
            text-decoration: none;
        }

        .header-fixed .header-limiter nav {
            font: 16px Arial, Helvetica, sans-serif;
            line-height: 40px;
            float: right;
        }

            .header-fixed .header-limiter nav a {
                display: inline-block;
                padding: 0 6px;
                text-decoration: none;
                font-size: 20px;
                color: #000;
                opacity: 0.9;
            }

                .header-fixed .header-limiter nav a:hover {
                    opacity: 1;
                }

                .header-fixed .header-limiter nav a.selected {
                    color: #608bd2;
                    pointer-events: none;
                    opacity: 1;
                }

        /* Fixed version of the header */

        body.fixed .header-fixed {
            padding: 10px 40px;
            height: 50px;
            position: fixed;
            width: 100%;
            top: 0;
            left: 0;
            z-index: 1;
        }

        body.fixed .header-fixed-placeholder {
            display: block;
        }

        body.fixed .header-fixed .header-limiter h1 {
            font-size: 24px;
            line-height: 30px;
        }

        body.fixed .header-fixed .header-limiter nav {
            line-height: 28px;
            font-size: 13px;
        }


        /* Making the header responsive */

        @@media all and (max-width: 600px) {

            .header-fixed {
                padding: 20px 0;
                height: 75px;
            }

                .header-fixed .header-limiter h1 {
                    float: none;
                    margin: -8px 0 10px;
                    text-align: center;
                    font-size: 24px;
                    line-height: 1;
                }

                .header-fixed .header-limiter nav {
                    line-height: 1;
                    float: none;
                }

                    .header-fixed .header-limiter nav a {
                        font-size: 13px;
                    }

            body.fixed .header-fixed {
                display: none;
            }
        }

        /*
            We are clearing the body's margin and padding, so that the header fits properly.
            We are also adding a height to demonstrate the scrolling behavior. You can remove
            these styles.
        */

        body {
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>
    @*<header class="header-fixed">

        <div class="header-limiter">

            <h1>
                <a href="#">
                    <img src="~/Content/images/loginpage/logo_new.png" style="height: 50px;margin-top: -16px"/>
                </a>
            </h1>

            <nav>
                <a href="#">About Us</a>
                <a href="#">Privacy Policy</a>
                <a href="#">Contact us</a>
                <a href="#">About</a>
                <a href="#">Register</a>                
            </nav>

        </div>

    </header>*@
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <div class="login100-form-title" style="background-image: url(/Content/images/loginpage/bg-01.jpg);">
                    <span class="login100-form-title-1">
                        Sign In                        
                    </span>
                </div>

                <div class="login100-form validate-form loginform">
                    <div class="wrap-input100 validate-input m-b-26 usernamesec">
                        <span class="label-input100">Username</span>
                        <input class="input100" type="text" name="username" placeholder="Enter username" id="txtusername" />
                    </div>

                    <div class="wrap-input100 validate-input m-b-18 userpasssec">
                        <span class="label-input100">Password</span>
                        <input class="input100" type="password" name="pass" placeholder="Enter password" id="txtpassword" />
                        <span class="focus-input100"></span>
                    </div>

                    <div class="flex-sb-m w-full p-b-30">
                        <div class="contact100-form-checkbox">
                            <a href="javascript:;" id="forgetpasswordid" class="forgetpassword">
                                Forgot Password?
                            </a>
                        </div>
                        <div>
                            <button class="login100-form-btn" style="min-width:100px; height:40px;" id="btnBackLogin">Login</button>
                        </div>
                    </div>
                    <div id="divmsg" style="padding: 10px 0px;">
                        <span class="label-input100 text-danger errormsg hidden" style="position:inherit;">Incorrect username and password !</span>
                    </div>
                </div>

                <div class="login100-form validate-form forgetpasswordform hidden">
                    <div class="wrap-input100 validate-input m-b-26 useridsec">
                        <span class="label-input100" style="left: -150px!important;">User ID</span>
                        <input class="input100" type="text" name="txtUserId" placeholder="Enter user id" id="txtUserId" />
                    </div>

                    <div class="wrap-input100 validate-input m-b-18 useremailsec">
                        <span class="label-input100" style="left: -150px!important;">Registered&nbsp;Email</span>
                        <input class="input100" type="text" name="txtRegisteredEmail" placeholder="Enter registered email" id="txtRegisteredEmail" />
                        <span class="focus-input100"></span>
                    </div>

                    <div class="wrap-input100 validate-input m-b-18 usermobilessec">
                        <span class="label-input100" style="left: -150px!important;">Registered&nbsp;Mobile&nbsp;No</span>
                        <input class="input100" type="text" name="txtRegisteredMobileNo" placeholder="Enter registered mobile no" id="txtRegisteredMobileNo" />
                        <span class="focus-input100"></span>
                    </div>

                    <div class="flex-sb-m w-full p-b-30">
                        <div class="contact100-form-checkbox">
                            <a href="javascript:;" id="gotologinform" class="gotologinclass">
                                Login?
                            </a>
                        </div>
                        <div>
                            <button class="login100-form-btn" style="min-width:100px; height:40px;" id="btnForgetPassword">Get Password</button>
                        </div>
                    </div>
                    <div id="divmsg" style="padding: 10px 0px;">
                        <span class="label-input100 forgeterrormsg hidden" style="position:inherit;"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*<script src="~/Content/js/loginpage/main.js"></script>*@
    <script src="~/Content/js/custom/login.js"></script>
</body>
</html>
