﻿@model ModelLibrary.AccountLedgerReport
@{
    ViewBag.Title = "IntlSaleRegister";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}
<link href="~/Content/css/DatePickerMYcss.css" rel="stylesheet" />
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<style>
    .setspinner {
        position: absolute;
        right: 16px;
        top: 10px;
        z-index: 999;
        font-size: 20px;
        color: #169F85;
    }
</style>
@{
    Agency_Backoffice.Models.LoginSessionDetails lu = new Agency_Backoffice.Models.LoginSessionDetails();
    if (Agency_Backoffice.Service.AccountService.GetLoginSession(ref lu))
    {
        <div class="col-md-12">
            <div class="x_panel">

                <div class="x_content">
                    <section class="wrapper">
                        <div class="row">
                            <div class="col-sm-12">
                                <section class="panel">
                                    <header class="panel-heading">
                                        International Sale Register

                                    </header>
                                    <div class="panel-body" style="padding:15px;">
                                        @using (Html.BeginForm())
                                        {
                                            <div class="row form-group">
                                                <div class="col-sm-12">
                                                    <div class="col-sm-2">

                                                        @Html.TextBoxFor(p => p.FromDate, new { @class = "form-control CommanDate", placeholder = "From Date", autocomplete = "off" })
                                                    </div>
                                                    <div class="col-sm-2">

                                                        @Html.TextBoxFor(p => p.ToDate, new { @class = "form-control CommanDate", placeholder = "To Date", autocomplete = "off" })
                                                    </div>
                                                    <div class="col-sm-2">

                                                        @Html.TextBoxFor(p => p.PnrNo, new { @class = "form-control", placeholder = "Enter PnrNo.." })
                                                    </div>
                                                    <div class="col-sm-2">

                                                        @Html.TextBoxFor(p => p.OrderId, new { @class = "form-control", placeholder = "Enter OrderId.." })
                                                    </div>
                                                    <div class="col-sm-2">

                                                        @Html.TextBoxFor(p => p.PaxName, new { @class = "form-control", placeholder = "Enter Pax Name.." })
                                                    </div>
                                                    <div class="col-sm-2">

                                                        @Html.TextBoxFor(p => p.TicketNo, new { @class = "form-control", placeholder = "Enter TicketNo.." })
                                                    </div>
                                                    <div class="col-sm-2">

                                                        @Html.TextBoxFor(p => p.AirlinePNR, new { @class = "form-control", placeholder = "Enter Airline.." })
                                                    </div>
                                                    @if (lu.AgentRegisterSession.User_Type == "DI")
                                                    {
                                                        <div class="col-sm-2">
                                                            @Html.TextBoxFor(p => p.AgencyName, new { @class = "form-control", placeholder = "AgencyName.." })
                                                            <i class="fa fa-spin fa-spinner hidden setspinner setlevfromspinner"></i>
                                                            @Html.HiddenFor(p => p.AgentId)
                                                        </div>
                                                    }
                                                    <div class="col-sm-2">
                                                        <input type="submit" class="btn btn-success form-control maincss" style="cursor:pointer;" onclick="return CheckForm()" value="SEARCH RESULT" />
                                                        <span class="btn btn-success form-control tempscss hidden">PLEASE WAIT..<i class="fa fa-spinner fa-spin"></i></span>
                                                    </div>
                                                </div>

                                            </div>
                                        }
                                    </div>
                                </section>
                            </div>
                        </div>
                    </section>


                    <section class="wrapper">
                        <div class="row">
                            <div class="col-sm-12">
                                <section class="panel">
                                    <header class="panel-heading">
                                        <i class="icofont-search-document"></i>  Report
                                        <span class="tools pull-right">
                                            @if (Model.Totalcount > 0)
                                            {
                                                using (Html.BeginForm("IntlSaleRegisterExportToExcel", "Account", FormMethod.Post))
                                                {
                                                    <button type="submit" style="cursor:pointer;"><span class="icofont-file-excel"></span> Export</button>
                                                }
                                            }
                                        </span>
                                    </header>
                                    <div class="panel-body table-responsive" style="overflow:scroll;">
                                        <table class="table table-collapse-phone" cellspacing="0" width="100%" ShowHeaderWhenEmpty="true">
                                            <thead>
                                                <tr>
                                                    <th class="sticky-header">Order Id</th>
                                                    <th>Easy Id</th>
                                                    <th>Easy Trans No.</th>
                                                    <th>Agency Id</th>
                                                    @*<th>Agency Name</th>*@
                                                    <th>Gds Pnr</th>
                                                    <th>Carrier Pnr	</th>
                                                    <th>Sector</th>
                                                    <th>Vc</th>
                                                    <th>Pax Name</th>
                                                    <th>Pax Type</th>
                                                    <th>Carrier</th>
                                                    <th>Ticket Number#</th>
                                                    <th>Base Fare</th>
                                                    <th>Yq</th>
                                                    <th>Tax</th>
                                                    <th>Tran Fee</th>
                                                    <th>Mgt Fee</th>
                                                    <th>Discount</th>
                                                    <th>Tds</th>
                                                    <th>Total Fare</th>
                                                    <th>Net Fare</th>
                                                    <th>Created Date</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (Model.Totalcount > 0)
                                                {
                                                    foreach (var item in Model.AccountLedgerReportList)
                                                    {
                                                        <tr>
                                                            <td class="sticky-row"><a href="@item.InvoiceUrl" style="color:red;font-weight:bold;" target="_blank">@item.OrderId (Invoice)</a></td>
                                                            <td>@item.EasyID</td>
                                                            <td>@item.EasyTransID</td>
                                                            <td>@item.AgencyID</td>
                                                            @*<td>@item.AgencyName</td>*@
                                                            <td>@item.GdsPnr</td>
                                                            <td>@item.AirLinePnr</td>
                                                            <td>@item.Sector</td>
                                                            <td>@item.VC</td>
                                                            <td>@item.Title @item.FName @item.LName</td>
                                                            <td>@item.PaxType</td>
                                                            <td>@item.AirLine	</td>
                                                            <td>@item.TicketNumber</td>
                                                            <td>@item.BaseFare</td>
                                                            <td>@item.YQ</td>
                                                            <td>@item.TotalTax</td>
                                                            <td>@item.TranFee</td>
                                                            <td>@item.MgtFee</td>
                                                            <td>@item.Discount</td>
                                                            <td>@item.Tds</td>
                                                            <td>@item.TotalFare</td>
                                                            <td>@item.TotalAfterDis</td>
                                                            <td>@item.CreateDate</td>
                                                        </tr>
                                                    }
                                                }
                                                else
                                                {
                                                    <tr>
                                                        <td colspan="22" class="text-center">
                                                            <p class="text-danger">No result found!</p>
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    }
}
<script src="~/Content/js/loginpage/DatePicker.js"></script>
<script src="~/Content/js/custom/autocomplete.js"></script>
<script>
    function CheckForm() {
        $('.maincss').addClass('hidden');
        $('.tempscss').removeClass('hidden');
    }
</script>

