﻿@model ModelLibrary.AgencyDetails
@{
    ViewBag.Title = "UpdateAgent";
    Layout = "~/Views/Shared/_PopupLayoutPage.cshtml";
}
<style>
    .row {
        border: 1px solid green;
        margin-right: -10px;
        margin-left: -10px;
        margin-bottom: 10px;
    }
</style>
<div class="container" style=" margin-top: 25px;">
    <div class="row">
        <div class="col-sm-12">
            @if (TempData["Message"] != null)
            {
                <h4 class="text-center text-success">@TempData["Message"]</h4>
            }
            else
            {
                <h3 class="text-center text-info">Agency Infromation</h3>
                <div class="row">
                    <div class="col-sm-4">
                        <label>User ID : <span class="text-primary">@Model.User_Id</span></label>
                    </div>
                    <div class="col-sm-4">
                        <label>Agency Name: <span class="text-primary">@Model.Agency_Name</span></label>
                    </div>
                    <div class="col-sm-4">
                        <label>Agency ID: <span class="text-primary">@Model.AgencyId</span></label>
                    </div>

                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <label>Credit Limit: <span class="text-primary">@Model.Crd_Limit</span></label>
                    </div>
                    <div class="col-sm-4">
                        <label>Last Transaction Date : <span class="text-primary">@Model.Crd_Trns_Date</span></label>
                    </div>
                    <div class="col-sm-4">
                        <label>
                            Address: <span class="text-primary">@Model.Address</span>
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <label>City: <span class="text-primary">@Model.City</span></label>
                    </div>
                    <div class="col-sm-4">
                        <label>State: <span class="text-primary">@Model.State</span></label>
                    </div>
                    <div class="col-sm-4">
                        <label>Zip Code : <span class="text-primary">@Model.ZipCode</span></label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <label>
                            Country: <span class="text-primary">@Model.Country</span>
                        </label>
                    </div>
                    <div class="col-sm-4">
                        <label>Name: <span class="text-primary">@Model.Name</span></label>
                    </div>
                    <div class="col-sm-4">
                        <label>Mobile: <span class="text-primary">@Model.Mobile</span></label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <label>Email : <span class="text-primary">@Model.Email</span></label>
                    </div>
                    <div class="col-sm-4">
                        <label>Pan No: <span class="text-primary">@Model.PanNo</span></label>
                    </div>
                    <div class="col-sm-3">
                        <label>Type: <span class="text-primary">@Model.Agent_Type</span></label>
                    </div>
                </div>
                using (Html.BeginForm())
                {
                    @Html.HiddenFor(p => p.User_Id)
                    <div class="row">
                        <div class="col-sm-3">
                            <label>Sales Ref : <span class="text-primary">@Model.SalesExecID</span></label>
                        </div>
                        <div class="col-sm-3">
                            <label>
                                Activation:
                                @Html.DropDownListFor(p => p.Agent_Status, new SelectList(new List<Object>{
                                          new { value = "ACTIVE" , text = "ACTIVE" },
                                          new { value = "NOT ACTIVE" , text = "NOT ACTIVE"}
                                       }, "value", "text"), new { @class = "form-control" })
                            </label>
                        </div>
                        <div class="col-sm-3">
                            <label>
                                Ticketing Activation:
                                @Html.DropDownListFor(p => p.Online_Tkt, new SelectList(new List<Object>{
                                           new { value = "ACTIVE" , text = "ACTIVE" },
                                           new { value = "NOT ACTIVE" , text = "NOT ACTIVE"}
                                        }, "value", "text"), new { @class = "form-control" })
                            </label>
                        </div>
                        <div class="col-sm-3">
                            <button type="submit" class="btn btn-success" id="btnSubmit" style="margin-top:5px;cursor:pointer" onclick="return CheckForm();">UpdateAgent</button>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>
<script>
    function CheckForm() {
        $("#btnSubmit").html("<i class='fa fa-pulse fa-spinner'></i>");
    }
</script>
