﻿@model ModelLibrary.MarkupModel
@{
    ViewBag.Title = "Agent_markupDom";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}
@section header{
    <link href="~/Content/fancybox/jquery.fancybox.css" rel="stylesheet" />
    
}

<div class="col-md-12">
    <div class="x_panel">
        @{
            Agency_Backoffice.Models.AgencyLoginSession lu = new Agency_Backoffice.Models.AgencyLoginSession();
            if (!Agency_Backoffice.Service.AccountService.IsAgencyLogin(ref lu))
            {
                if (Agency_Backoffice.Service.AccountService.LogoutBackendLogin())
                {
                    Response.Redirect("/");
                }
            }
            @*<div class="x_title">
                <div class="row">
                    <div class="col-sm-6">
                        <h4><i class="fa fa-plane"></i>&nbsp;Domestic Airline Markup</h4>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>*@
            <div class="x_content">

                <section class="wrapper">
                    <div class="row">
                        <div class="col-sm-12">
                            <section class="panel">
                                <div class="row">
                                    <div class="col-md-12">
                                        @if (TempData["Msg"] != null)
                                        {
                                            <div class="alert alert-success" id="closeMessage">

                                                <span>@TempData["Msg"]</span>
                                            </div>
                                        }

                                    </div>
                                </div>
                                <header class="panel-heading">
                                    Domestic Airline Markup

                                </header>
                                <div class="panel-body" style="padding:15px;">
                                    @using (Html.BeginForm())
                                    {
                                        <div class="row form-group">
                                            <div class="col-sm-12">
                                                <div class="col-sm-2">

                                                    @Html.TextBoxFor(p => p.user_id, new { @class = "form-control", @readonly = "readonly" })
                                                </div>
                                                <div class="col-sm-2">

                                                    @Html.DropDownListFor(model => model.airline, new SelectList(new List<Object>{
                                                            new { value = "" , text = "Flights" },
                                                           new { value = "AI" , text = "Air India" },
                                                           new { value = "G8S" , text = "GoAir Special"},
                                                              new { value = "AIS" , text = "Air India Special"},
                                                                 new { value = "SGS" , text = "Spice Jet Special"},
                                                                    new { value = "9W" , text = "Jet Airways"},
                                                                    new { value = "SG" , text = "Spice Jet"},
                                                                    new { value = "6E" , text = "Indigo"},
                                                                    new { value = "G8" , text = "GoAir"},
                                                                    new { value = "6ES" , text = "Indigo Special"},
                                                                    new { value = "UK" , text = "Air Vistara"},
                                                                    new { value = "UKS" , text = "Air Vistara Special"},
                                                        }, "value", "text"), new { @class = "form-control" })
                                                </div>
                                                <div class="col-sm-2">

                                                    @Html.TextBoxFor(p => p.Markup, new { @class = "form-control", placeholder = "Markup - 0" })
                                                </div>
                                                <div class="col-sm-2">

                                                    @Html.DropDownListFor(model => model.markup_type, new SelectList(new List<Object>{
                                                            new { value = "F" , text = "--Markup Type--" },
                                                           new { value = "F" , text = "Fixed" },
                                                           new { value = "P" , text = "Percentage"},
                                                        }, "value", "text"), new { @class = "form-control" })
                                                </div>
                                                <div class="col-sm-2">
                                                    <input type="submit" class="btn btn-success form-control maincss" style="cursor:pointer;" onclick="return CheckForm()" value="NEW ENTRY" />
                                                    <span class="btn btn-success form-control tempscss hidden">PLEASE WAIT..<i class="fa fa-spinner fa-spin"></i></span>
                                                </div>
                                            </div>
                                        </div>

                                    }
                                </div>
                            </section>
                        </div>
                    </div>
                </section>

                <section class="wrapper">
                    <div class="row">
                        <div class="col-sm-12">
                            <section class="panel">
                                <header class="panel-heading">
                                    Report

                                </header>
                                <div class="panel-body table-responsive" style="overflow:scroll;">
                                    <table class="table table-bordered table-hover" data-toggle="table">
                                        <thead>
                                            <tr>
                                                <th>Carrier</th>
                                                <th>Markup Value</th>
                                                <th>Markup Type</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model.Totalcount > 0)
                                            {
                                                foreach (var item in Model.DomMarkupList)
                                                {
                                                    <tr>
                                                        <td>@item.airline</td>
                                                        <td>@item.Markup</td>
                                                        <td>@(item.markup_type.ToLower().Trim() == "f" ? "Fixed" : "Percentage")</td>
                                                        <td>
                                                            <a data-fancybox-type="iframe" data-toggle="tooltip" title="Edit" data-fancybox-href="@lu.ApplicationUrl/setting/edit-markup-dom?counter=@item.Counter&markup=@item.Markup&markuptype=@item.markup_type" class="btn btn-success btn-sm popupclassreload anchorlinkred"><span class="fa fa-edit" style="color:#fff!important"></span> </a>
                                                            <a href="@lu.ApplicationUrl/setting/delete-markup-dom?counter=@item.Counter" onclick="javascript: return DeleteConfirm();" class="btn btn-danger btn-sm" data-toggle="tooltip" title="Delete"><span class="fa fa-trash"></span></a>
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </section>
                        </div>
                    </div>
                </section>
            </div>
            }
        </div>
        </div>

@section footer{
    <script src="~/Content/fancybox/jquery.fancybox.js"></script>
    <script src="~/Content/fancybox/fancyboxpopupopen.js"></script>

    <script>
        function DeleteConfirm() {
            return confirm('Are you sure, you want to delete the markup ?');
        }
        function CheckForm() {
            $('.maincss').addClass('hidden');
            $('.tempscss').removeClass('hidden');
        }
    </script>
}


