﻿@model ModelLibrary.MarkupModel
@{
    ViewBag.Title = "EditdomMarkup";
    Layout = "~/Views/Shared/_PopupLayoutPage.cshtml";
}
@using (Html.BeginForm())
{
    <div class="container" style="background:#fff;">
        <div class="row">
            @if (TempData["Message"] != null)
            {
                <div class="col-md-12" style="margin-top: 5px;padding: 20px;">
                    <div class="alert alert-success" id="closeMessage">

                        <span>@TempData["Message"]</span>
                    </div>
                </div>
            }
            else
            {
                <div class="col-sm-12 form-group" style="padding: 15px;">
                    <div class="col-sm-12 form-group">
                        <label>Markup</label>
                        @Html.TextBoxFor(p => p.Markup, new { @class = "form-control", placeholder = "0" })
                    </div>
                    <div class="col-sm-12 form-group">
                        @Html.HiddenFor(p => p.Counter)
                        @Html.HiddenFor(p => p.markup_type)
                    </div>
                    <div class="col-sm-12 form-group">
                        <input type="submit" class="btn btn-success pull-left" />
                    </div>

                </div>
            }
        </div>
    </div>
}
