﻿@model ModelLibrary.FlightInvoice

@{
    Layout = null;
    int Total = 0;
    int i = 0;
    int ServiceTax = 0;
    int TransFee = 0;
    int TransCharge = 0;
    int TotalAfterTrans = 0;
    int LessDis = 0;
    int LessCashBack = 0;
    int AddTds = 0;
    int GrandTotal = 0;


}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Invoice Copy</title>
    <link href="~/Content/css/loginpage/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/Content/css/custom.min.css" rel="stylesheet" />
    <link href="~/Content/css/validation.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrap-table.css" rel="stylesheet" />
    <script src="~/Content/js/jquery.min.js"></script>
    <script src="~/Content/js/bootstrap-table.js"></script>
    <script src="~/Content/js/custom/commonfile.js"></script>
    <link href="~/Content/css/custom.css" rel="stylesheet" />
    <link href="~/Content/css/responsive.css" rel="stylesheet" />
    <link href="~/Content/css/custom-new.css" rel="stylesheet" />

    <style>
        .ed-home {
        }

        .com-fir-sp-top {
        }

        .ed-top {
            background: #2A3F54;
            border-bottom: 1px solid #e0e0e0;
        }

        .ed-com-t1-left {
        }

            .ed-com-t1-left ul {
                margin-bottom: 0px;
            }

                .ed-com-t1-left ul li {
                    float: left;
                    display: inline-block;
                }

                    .ed-com-t1-left ul li a {
                        color: #7a8088;
                        padding: 5px 14px;
                        line-height: 34px;
                        /*border-right: 1px solid #e7ebef;*/
                        font-size: 14.5px;
                    }

        .ed-com-t1-right {
            float: right;
        }

            .ed-com-t1-right ul {
            }

                .ed-com-t1-right ul li {
                    float: left;
                    display: inline-block;
                }

                    .ed-com-t1-right ul li a {
                        color: #fff;
                        padding: 7px 12px;
                        line-height: 34px;
                        font-size: 12px;
                    }

                    .ed-com-t1-right ul li:nth-child(1) a {
                        background: #f4364f;
                        background: linear-gradient(to bottom,#f4364f,#dc2039);
                    }

                    .ed-com-t1-right ul li:nth-child(2) a {
                        background: #2d5d73;
                    }

        .dropdown-menu {
            top: 22px !important;
            left: -35px !important;
        }
    </style>
    <link href="~/Content/css/validation.css" rel="stylesheet" />
    <script src="~/Content/js/common.js"></script>
    <style>
        .p_size {
            font-size: 16px;
            font-weight: bold;
            color: #09a9e5;
            margin-bottom: 3px;
            text-align: right;
            margin-right: 10px;
        }

        .rowbox {
            border: 1px solid #ccc;
            margin-top: 15px;
        }
    </style>
    <style type="text/css">
        @@media print {
            .pri {
                background-color: #0f4da2 !important;
                -webkit-print-color-adjust: exact;
            }

            table td {
                border: 1px solid #000 !important;
            }
        }

        @@media print {
            .pri font, .pri {
                color: white !important;
            }
        }

        @@media print {
            .pri2 {
                background-color: #f1f1f1 !important;
                -webkit-print-color-adjust: exact;
            }

            .pri3 {
                border-bottom: 1px solid #000 !important;
            }
            /* .printbx {
                margin-top: 750px !important;
            }*/
            table td {
                border: 1px solid #9cc354 !important;
            }
        }

        #printable {
            display: none;
        }

        @@media print {
            #non-printable {
                display: none;
            }

            #nprintable {
                display: none !important;
            }

            #header {
                display: none !important;
            }

            #printable {
                display: block;
            }
        }

        table td {
            border: none !important;
        }

        .btn-dark {
            color: #E9EDEF;
            background-color: #9cc354 !important;
            border-color: #95bf47;
        }
    </style>
</head>
<body style="background: #e9e7e7;">
    @{
        Agency_Backoffice.Models.AgencyLoginSession lu = new Agency_Backoffice.Models.AgencyLoginSession();
        if (!Agency_Backoffice.Service.AccountService.IsAgencyLogin(ref lu))
        {
            if (Agency_Backoffice.Service.AccountService.LogoutBackendLogin())
            {
                Response.Redirect("/");
            }
        }

        <header class="navbar navbar-custom header" id="header">
            <div class="navbar-expand">
                <div class="header-top">
                    <div class="container">
                        <div class="top-line">
                            <div class="row align-items-center">
                                <div class="col-sm-8">
                                    <div class="top-left-link float-md-left">
                                        <ul class="d-flex align-items-center  justify-content-center">
                                            <li>
                                                <div class="select-dropdown language-currency">
                                                    <div class="drop-option">
                                                        <div class="drop-list" style="display:flex;">
                                                            <span><i class="icofont-send-mail"></i>  Mail Us : @lu.CompanyEmailId</span>&nbsp;&nbsp;
                                                            <span><i class="icofont-phone"></i>  Call Us : @lu.CompanyContactNo</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="top-right-link float-sm-right d-none d-sm-block" style="float: right;">
                                        <ul>

                                            <li class="register-icon">
                                                <a title="Balance" style="color:#fff;">
                                                    <i class="icofont-wallet"></i>Total Balance : ₹ <span id="blc">@lu.Balance/-&nbsp;</span>
                                                </a>
                                            </li>


                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="header-middle">
                    <div class="container">
                        <div class="row no-gutters align-items-center">
                            <div class="col-lg-9">
                                <div class="header-middle-left">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col-lg-3">
                                            <div class="logo navbar-header float-none-sm">
                                                <a class="navbar-brand page-scroll" href="@lu.FrontSearchWebUrl.ToString()">
                                                    <img alt="testtravel" src="~/Content/images/logo(ft).png" />
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-lg-9">
                                            <div class="overlay"></div>
                                            <div id="menu" class="navbar-collapse collapse justify-content-center">

                                                <ul id="menu-main" class="nav navbar-nav">
                                                    <li class="level">
                                                        <a class="page-scroll" href="/flight-search">Flight</a>
                                                    </li>
                                                    <li class="level">
                                                        <a class="page-scroll" href="/flight-search">Hotel</a>
                                                    </li>
                                                    <li class="level">
                                                        <a class="page-scroll" href="/Bus_Search.aspx">Bus</a>
                                                    </li>
                                                    <li class="level">
                                                        <a class="page-scroll" href="/Package/Package_Home.aspx">Package</a>
                                                    </li>
                                                    <li class="level">
                                                        <a class="page-scroll" href="/flight-search">Money Transfer</a>
                                                    </li>
                                                    <li class="level dropdown" style="display:none;">
                                                        <a class="page-scroll" href="#">
                                                            Services
                                                        </a>
                                                        <div class="megamenu mobile-sub-menu">
                                                            <div class="megamenu-inner-top">
                                                                <ul class="sub-menu-level1">
                                                                    <li>
                                                                        <a href="tour_grid_sticky.html"><span></span>Series Fare</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="tour_full_width.html"><span></span>Hotels</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="tour_grid_sticky.html"><span></span>Train</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="tour_full_width.html"><span></span>Holidays Package</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="tour_grid_sticky.html"><span></span>DMT</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="tour_full_width.html"><span></span>Air Cargo</a>
                                                                    </li>

                                                                    <li>
                                                                        <a href="tour_full_width.html"><span></span>Insurance</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="tour_full_width.html"><span></span>Utlity Recharge</a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </li>

                                                    <li class="level">
                                                        <a class="page-scroll" href="@lu.ApplicationUrl/dashboard">Dashboard</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="header-middle-right">
                                    <div class="navbar-collapse collapse justify-content-center">
                                        <ul class="nav navbar-nav">
                                            <li class="level dropdown">
                                                <div class="theme-account-avatar">
                                                    <img class="theme-account-avatar-img" src="@lu.Image_Url" alt="..." />
                                                    @*<a class="page-scroll" href="@lu.FrontSearchWebUrl">
                                                        </a>*@
                                                    <a class="page-scroll" href="#">
                                                        <p class="theme-account-avatar-name">
                                                            @lu.Agency_Name
                                                            <br>@lu.AgencyId
                                                        </p>
                                                    </a>
                                                </div>

                                                <div class="megamenu mobile-sub-menu">
                                                    <div class="megamenu-inner-top">
                                                        <ul class="sub-menu-level1">
                                                            <li>
                                                                <div style="border: 1px solid #eee;background-color: #c5c5c5;margin-left: 10px;margin-right: 10px;border-radius: 10px;">
                                                                    <ul>
                                                                        <li>
                                                                            <a href="#" title="Due">
                                                                                <i class="icofont-holding-hands"></i> Due: ₹<span id="DueAmt">@lu.DueAmount/-</span>
                                                                            </a>
                                                                        </li>
                                                                        <li>
                                                                            <a href="#" title="Credit Limit">
                                                                                <i class="icofont-credit-card"></i>  Credit Limit:  ₹<span id="CrdLimit">@lu.Crd_Limit/-</span>
                                                                            </a>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <a href="tour_grid_sticky.html"><span></span>Upload Money</a>
                                                            </li>
                                                            <li>
                                                                <a href="tour_full_width.html"><span></span>Manage Profile</a>
                                                            </li>
                                                            <li>
                                                                <a id="btnAgencyLogout" href="#" onclick="Logout();"><i class="icofont-power"></i>&nbsp;Signout</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="header-contact-info d-none d-lg-block" style="display:none !important; ">
                                        <span><i class="icofont-business-man-alt-1" style="font-size: 20px;line-height: 27px;"></i></span>
                                        <h3>Test Travel</h3>
                                        <p class="m-0" style="color: #bdbdbd;">B2B001</p>
                                    </div>
                                    <div class="right-side header-right-link">
                                        <ul>
                                            <li class="side-toggle">
                                                <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button"><i class="fas fa-bars"></i></button>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    }
    @Html.HiddenFor(p => p.Invoicecopy)

    <div class="container" style="margin-top: 140px;" id="nprintable">
        <div class="row">
            <label>&nbsp;</label>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-10 form-group printbx" style="margin-left: auto; margin-right: auto;padding: 13px 11px;border-radius: 4px;">
                <div id="txtInvoicecopy"></div>
                <table width='100%' style="border: 1px solid #000;background: #ffff;margin-top: 5px; text-align:center;margin-left: auto;margin-right: auto;" id="non-printable">
                    <tbody>
                        <tr>
                            <td colspan="10">
                                <div class="col-sm-12 form-group emailbox hidden" style="border: 1px solid #ccc;">

                                    <div class="x_content hidden">
                                        <div class="row form-group">
                                            <div class="col-md-12 col-sm-12  form-group">
                                                <h4 class="text-center">Mail Send Succesfully</h4>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 form-group mailform ">
                                        <div class="col-sm-12">
                                            <h4 class="text-center" style="font-size: 17px;color: #b50128;margin-top: 8px;">Send Mail</h4>
                                        </div>
                                        <div class="row col-sm-12">
                                            @Html.HiddenFor(p => p.OrderId)
                                            <div class="col-sm-6 form-validation">
                                                <label>Email ID</label>
                                                <input type="text" class="form-control" id="email" name="email" placeholder="Enter email.." />
                                            </div>
                                            <div class="col-sm-3">
                                                <input type="submit" class="form-control btn btn-dark maincssemail" style="margin-top:30px;" onclick="return CheckEmailForm();" value="Send Mail" />
                                                <span class="btn btn-dark form-control tempscssemail hidden" style="margin-top: 30px;">Please wait.<i class="fa fa-spinner fa-spin"></i></span>
                                            </div>
                                            <div class="col-sm-3">
                                                <button class="btn btn-danger form-control" style="margin-top:30px;" id="cancelemail">Cancel</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2"> <button class="btn btn-success" id="sendmail"><span class="fa fa-envelope"></span> Email</button></td>
                            <td colspan="2"> <button class="btn btn-success" id="printbtn"><span class="fa fa-print"></span> Print</button></td>
                            <td colspan="2"> <button class="btn btn-success">SMS</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>
<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
<script type="text/JavaScript" src="https://cdnjs.cloudflare.com/ajax/libs/jQuery.print/1.6.0/jQuery.print.js"></script>
<script src="~/Content/js/bootstrap.bundle.min.js"></script>
<script src="~/Content/js/custom.min.js"></script>
<link href="~/Content/css/summernote.css" rel="stylesheet" />
<script src="~/Content/js/summernote.js"></script>
<script src="~/Content/js/custom/login.js"></script>
<script src="~/Content/js/common.js"></script>
<script>
    $(document).ready(function () {
        var ticketdetials = $("#Invoicecopy").val();
        $("#txtInvoicecopy").html(ticketdetials);
    });
    $("#printbtn").click(function () {
        $("#printairea").print();
    });
    $("#Service").click(function () {
        $(".chargesbox").removeClass("hidden");
    });
    $("#cancel").click(function () {
        $(".chargesbox").addClass("hidden");
    });
    $("#sendmail").click(function () {
        $(".emailbox").removeClass("hidden");
    });
    $("#cancelemail").click(function () {
        $(".emailbox").addClass("hidden");
    });
    function CheckForm() {
        if (CheckDropDownBlankValidation("charge")) return !1;
        if (CheckBlankValidation("amount")) return !1;
        $('.maincss').addClass('hidden');
        $('.tempscss').removeClass('hidden');
    }
    function CheckEmailForm() {
        if (CheckBlankValidation('email')) return !1;
        if (CheckEmailValidatoin("email")) return !1;
        $('.maincssemail').addClass('hidden');
        $('.tempscssemail').removeClass('hidden');

        var orderid = $("#OrderId").val();
        var email = $("#email").val();
        $.ajax({
            type: "Post",
            url: ApplicationUrl + "/FlightReport/SendInvoiceCopy",
            data: '{email:' + JSON.stringify(email) + ',orderid: ' + JSON.stringify(orderid) + '}',
            contentType: "application/json; charset=utf-8",
            datatype: "json",
            success: function (data) {
                $(".mailform").addClass("hidden")
                $(".x_content").removeClass("hidden")
                $('.maincssemail').removeClass('hidden');
                $('.tempscssemail').addClass('hidden');

            }
        });
    }
</script>

