﻿@model ModelLibrary.OfflineRequest
@{
    ViewBag.Title = "OfflineRequestList";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}
<link href="~/Content/css/DatePickerMYcss.css" rel="stylesheet" />
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

<div class="col-md-12">
    <div class="x_panel">
        @*<div class="x_title">
            <div class="row">
                <div class="col-sm-10">
                    <h4><i class="fa fa-list"></i>&nbsp;Proxy Booking Report</h4>
                </div>
               
            </div>
            <div class="clearfix"></div>
        </div>*@
        <div class="x_content">

            <div class="x_content">
                <section class="wrapper">
                    <div class="row">
                        <div class="col-sm-12">
                            <section class="panel">
                                <header class="panel-heading">
                                    Offline Booking Report

                                </header>
                                <div class="panel-body" style="padding:15px;">
                                    @using (Html.BeginForm())
                                    {
                                        <div class="row form-group">
                                            <div class="col-sm-12">
                                                <div class="col-sm-2">

                                                    @Html.TextBoxFor(p => p.FromDate, new { @class = "form-control CommmanAllDate", placeholder = "dd/mm/yyy" })
                                                </div>
                                                <div class="col-sm-2">

                                                    @Html.TextBoxFor(p => p.ToDate, new { @class = "form-control CommmanAllDate", placeholder = "dd/mm/yyy" })
                                                </div>
                                                <div class="col-sm-2">

                                                    @Html.DropDownListFor(model => model.Trip, new SelectList(new List<Object>{
                                                             new { value = "" , text = "--Trip Type--" },
                                                            new { value = "D" , text = "Domestic" },
                                                            new { value = "I" , text = "International"},
                                                         }, "value", "text"), new { @class = "form-control" })
                                                </div>
                                                <div class="col-sm-2">

                                                    @Html.DropDownListFor(model => model.Status, new SelectList(new List<Object>{
                                                            new { value = "" , text = "--Status--" },
                                                           new { value = "Pending" , text = "Pending" },
                                                           new { value = "Confirmed" , text = "Confirmed"},
                                                        }, "value", "text"), new { @class = "form-control" })
                                                </div>
                                                <div class="col-sm-2">
                                                    <input type="submit" class="btn btn-success form-control maincss" style="cursor:pointer;" onclick="return CheckForm()" value="SEARCH RESULT" />
                                                    <span class="btn btn-success form-control tempscss hidden" style="margin-top: 26px;margin-top:26px;">PLEASE WAIT..<i class="fa fa-spinner fa-spin"></i></span>
                                                </div>
                                            </div>
                                        </div>

                                    }
                                </div>
                            </section>
                        </div>
                    </div>
                </section>


                <section class="wrapper">
                    <div class="row">
                        <div class="col-sm-12">
                            <section class="panel">
                                <header class="panel-heading">
                                    <i class="icofont-search-document"></i>  Report
                                    <span class="tools pull-right">
                                        @if (Model.Totalcount > 0)
                                        {
                                            using (Html.BeginForm("OfflineRequestReportExportToExcel", "FlightReport", FormMethod.Post))
                                            {
                                                <button type="submit" style="cursor:pointer;"><span class="icofont-file-excel"></span> Export</button>
                                            }
                                        }
                                    </span>
                                </header>
                                <div class="panel-body table-responsive" style="overflow:scroll;">
                                    <table class="table table-collapse-phone" cellspacing="0" width="100%" ShowHeaderWhenEmpty="true">
                                        <thead>
                                            <tr>
                                                <th class="sticky-header">Proxy Id</th>
                                                <th>Agent Id</th>
                                                @*<th>Agent Name</th>*@
                                                <th>Booking Type</th>
                                                <th>Travel Type</th>
                                                <th>From</th>
                                                <th>To</th>
                                                <th>D Date</th>
                                                <th>R Date</th>
                                                <th>Class</th>
                                                <th>Carriers</th>
                                                <th>Classes</th>
                                                <th>Payment Mode</th>
                                                <th>Remark</th>
                                                <th>Alert Message</th>
                                                <th>Status</th>
                                                <th>Trip</th>
                                                <th>Executive Id</th>
                                                <th>Requested Date</th>
                                                <th>Accepted Date</th>
                                                <th>Updated Date</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model.Totalcount > 0)
                                            {
                                                foreach (var item in Model.OfflineRequestList)
                                                {
                                                    <tr>
                                                        <td class="sticky-row"><a href="FlightPassengerDetail?proxyid=@item.ProxyID" target="_blank" style="color:red;font-weight:bold;">@item.ProxyID (View)</a></td>
                                                        <td>@item.AgentId</td>
                                                        @*<td>@item.Agentname</td>*@
                                                        <td>@item.BookingType</td>
                                                        <td>@item.TravleType</td>
                                                        <td>@item.ProxyFrom</td>
                                                        <td>@item.ProxyTo</td>
                                                        <td>@item.DepartDate</td>
                                                        <td>@item.ReturnDate</td>
                                                        <td>@item.ClassType</td>
                                                        <td>@item.PreferedAirlines</td>
                                                        <td>@item.Classes</td>
                                                        <td>@item.PaymentMode</td>
                                                        <td>
                                                            @if (!string.IsNullOrEmpty(item.Remark))
                                                            {
                                                                <span>@item.Remark</span>
                                                            }
                                                            else
                                                            {
                                                                <span>---</span>
                                                            }
                                                        </td>
                                                        <td>---</td>
                                                        <td>
                                                            @if (!string.IsNullOrEmpty(item.Status))
                                                            {
                                                                <span>@item.Status</span>
                                                            }
                                                            else
                                                            {
                                                                <span>---</span>
                                                            }
                                                        </td>
                                                        <td>
                                                            @if (!string.IsNullOrEmpty(item.TripType))
                                                            {
                                                                <span>@item.TripType</span>
                                                            }
                                                            else
                                                            {
                                                                <span>---</span>
                                                            }
                                                        </td>
                                                        <td>
                                                            @if (!string.IsNullOrEmpty(item.ExecID))
                                                            {
                                                                <span>@item.ExecID</span>
                                                            }
                                                            else
                                                            {
                                                                <span>---</span>
                                                            }
                                                        </td>
                                                        <td>
                                                            @if (!string.IsNullOrEmpty(item.requestDateTime))
                                                            {
                                                                <span>@item.requestDateTime</span>
                                                            }
                                                            else
                                                            {
                                                                <span>---</span>
                                                            }
                                                        </td>
                                                        <td>
                                                            @if (!string.IsNullOrEmpty(item.AcceptedDate))
                                                            {
                                                                <span>@item.AcceptedDate</span>
                                                            }
                                                            else
                                                            {
                                                                <span>---</span>
                                                            }
                                                        </td>
                                                        <td>
                                                            @if (!string.IsNullOrEmpty(item.UpdateDate))
                                                            {
                                                                <span>@item.UpdateDate</span>
                                                            }
                                                            else
                                                            {
                                                                <span>---</span>
                                                            }
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                                </section>
                            </div>
                        </div>
                    </section>
                        </div>
                    </div>
            </div>

            <script src="~/Content/js/loginpage/DatePicker.js"></script>
            <script>
                function CheckForm() {
                    $('.maincss').addClass('hidden');
                    $('.tempscss').removeClass('hidden');
                }
            </script>

