﻿
@{
    ViewBag.Title = "OfflineRequest";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}

@section header{
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <link href="~/Content/css/DatePickerMYcss.css" rel="stylesheet" />

    <style>

        label.mail {
            position: relative;
            margin: 0;
            padding: 5px 5px 5px 5px;
            cursor: pointer;
            color: #e1e1e1;
            font-size: 12px;
            text-transform: uppercase;
            background: #004c3f;
            width: 105px;
            text-align: center;
            float: left;
            border-left: 1px solid #eee;
            font-weight: 400 !important;
        }

        .form-group {
            margin-bottom: 10px !important;
        }

        .topways > label.active {
            background: #95bf47;
            color: #ffffff !important;
            margin: 0;
            padding: 5px 5px 5px 5px;
            text-align: center;
            cursor: pointer;
            border-radius: 0px;
            width: 105px;
            font-weight: 400 !important;
        }

        .topways > label:hover {
            background: #e6144f;
            color: #ffffff !important;
        }



        label.mail input[type=radio]:checked + label::before {
            border-color: #0769a0;
            background-color: #0769a0;
            -webkit-box-shadow: inset 0 0 0 3px #fff;
            box-shadow: inset 0 0 0 3px #fff;
        }

        label.mail input[type=radio] + label::before {
            position: relative;
            top: 1px;
            display: inline-block;
            width: 18px;
            height: 18px;
            margin-right: 7px;
            content: '';
            cursor: pointer;
            vertical-align: top;
            border: 1px solid #b4b2b0;
            border-radius: 100%;
            background: #fff;
        }

        label {
            font-weight: 600 !important;
        }
    </style>

    <style>
        .lableSize {
            font-size: 15px;
        }

        .setspinner {
            position: absolute;
            right: 16px;
            top: 10px;
            z-index: 999;
            font-size: 20px;
            color: #169F85;
        }

        .adulthed {
            margin-top: 0px;
            margin-bottom: 0px;
            font-size: 15px;
            background: #ccc;
            padding: 7px;
        }
    </style>

    <script>
        $(document).ready(function () {
            var selector = '.topways label';
            $(selector).bind('click', function () {
                $(selector).removeClass('active');
                $(this).addClass('active');
            });

        });
    </script>
}
@{
    Agency_Backoffice.Models.LoginSessionDetails lu = new Agency_Backoffice.Models.LoginSessionDetails();
    if (Agency_Backoffice.Service.AccountService.GetLoginSession(ref lu))
    {

        <div class="col-md-12">
            <div class="x_panel">
                @*<div class="x_title">
                        <div class="row">
                            <div class="col-sm-6">
                                <h4><i class="fa fa-plane"></i>&nbsp;Domestic / International Offline Request</h4>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>*@
                <div class="x_content">
                    <section class="wrapper">
                        <div class="row">
                            <div class="col-sm-12">
                                <section class="panel" id="SearchSectionBind">
                                    <header class="panel-heading">
                                        Domestic / International Offline Request

                                    </header>
                                    <div class="panel-body" style="padding:15px;">
                                        <div class="row form-group">
                                            <div class="col-sm-12" style="margin-bottom: 10px;">
                                                <div class="col-sm-6 topways">
                                                    <label class="radio-inline mail  active lableSize TripTypeOneWay" style="border-radius: 5px 0px 0px 5px;">
                                                        <input type="radio" name="triptype" id="rdoOneWay" value="oneway" checked="checked" style="display: none;">One Way
                                                    </label>
                                                    <label class="radio-inline mail lableSize Trip TripTypeRound" style="border-radius: 0px 5px 5px 0px;">
                                                        <input type="radio" name="triptype" id="rdoRoundTrip" value="roundtrip" style="display: none;">Round Trip
                                                    </label>
                                                </div>
                                                <div class="col-sm-6 topways">
                                                    <label class="radio-inline mail  active lableSize" id="offlinebook" style="border-radius: 5px 0px 0px 5px;">
                                                        <input type="radio" name="bookingtype" value="Proxy" checked="checked" style="display: none;">Offline
                                                    </label>
                                                    <label class="radio-inline mail lableSize hidden">
                                                        <input type="radio" name="bookingtype" value="LTC" style="display: none;">LTC
                                                    </label>
                                                    <label class="radio-inline mail lableSize" id="group" style="border-radius: 0px 5px 5px 0px;">
                                                        <input type="radio" name="bookingtype" value="Group" style="display: none;">Group
                                                    </label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row form-group">
                                            <div class="col-sm-12">
                                                <div class="col-sm-2 form-validation">
                                                    <input type="text" class="form-control" id="txtLeavingForm" name="txtLeavingForm" placeholder="select dep city.." />
                                                    <i class="fa fa-spin fa-spinner hidden setspinner setlevfromspinner"></i>
                                                    <input type="hidden" id="hdnFromCountryCode" />
                                                </div>
                                                <div class="col-sm-2 form-validation">
                                                    <input type="text" class="form-control" id="txtLeavingTo" name="txtLeavingTo" placeholder="select arr city.." />
                                                    <i class="fa fa-spin fa-spinner hidden setspinner setlevtospinner"></i>
                                                    <input type="hidden" id="hdnToCountryCode" />
                                                </div>
                                                <div class="col-sm-2 form-validation">
                                                    <input type="text" class="form-control " id="txtDepartureDate" name="txtDepartureDate" placeholder="dd/mm/yyyy" />
                                                </div>
                                                <div class="col-sm-2 form-validation ReturnDate hidden">
                                                    <input type="text" class="form-control  ReturnDate hidden" id="txtReturnDate" name="txtReturnDate" placeholder="dd/mm/yyyy" />
                                                </div>

                                                <div class="col-sm-2">
                                                    <select class="form-control" id="ddlDepartAnytime" name="ddlDepartAnytime">
                                                        <option value="Anytime">---Select Time---</option>
                                                        <option value="Anytime">Anytime</option>
                                                        <option value="Morning(0.00-12:00)">Morning (0.00-12:00)</option>
                                                        <option value="Midday(10:00-14:00)">Midday (10:00-14:00)</option>
                                                        <option value="Afternoon(12:00-17:00)">AfterNoon (12:00-17:00)</option>
                                                        <option value="Evening(17:00-20:00)">Evening (17:00-20:00)</option>
                                                        <option value="Night(20:00-23:59)">Night (20:00-23:59)</option>
                                                    </select>
                                                </div>
                                                <div id="grpadut"></div>
                                                <div class="col-sm-2 form-validation " id="grpbooking">
                                                    <select name="ddlAdult" id="ddlAdult" class="form-control dultsctiom">
                                                        <option value="0">Adult(>12 yrs)</option>
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>
                                                        <option value="5">5</option>
                                                        <option value="6">6</option>
                                                        <option value="7">7</option>
                                                        <option value="8">8</option>
                                                        <option value="9">9</option>
                                                    </select>

                                                </div>
                                                <div class="col-sm-2">
                                                    @*<label class="lableSize">Child(2 - 11 yrs)</label>*@
                                                    <select name="ddlChild" id="ddlChild" class="form-control">
                                                        <option value="0">Child(2 - 11 yrs)</option>
                                                        <option value="0">0</option>
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>
                                                        <option value="5">5</option>
                                                        <option value="6">6</option>
                                                        <option value="7">7</option>
                                                        <option value="8">8</option>
                                                        <option value="9">9</option>
                                                    </select>
                                                </div>
                                                <div class="col-sm-2">
                                                    @*<label class="lableSize">Infant(Under 2 yrs)</label>*@
                                                    <select name="ddlInfrant" id="ddlInfrant" class="form-control">
                                                        <option value="0">Infant(Under 2 yrs)</option>
                                                        <option value="0">0</option>
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>
                                                        <option value="5">5</option>
                                                        <option value="6">6</option>
                                                        <option value="7">7</option>
                                                        <option value="8">8</option>
                                                        <option value="9">9</option>
                                                    </select>
                                                </div>

                                                <div class="col-sm-2">
                                                    @*<label class="lableSize">Class</label>*@
                                                    <select name="ddlClass" id="ddlClass" class="form-control">
                                                        <option value="Economy">---Class--</option>
                                                        <option value="Economy">Economy</option>
                                                        <option value="Non Refundable Economy">Non Refundable Economy</option>
                                                        <option value="Refundable Economy">Refundable Economy</option>
                                                        <option value="Full Fare Economy">Full Fare Economy</option>
                                                        <option value="Business">Business</option>
                                                    </select>
                                                </div>
                                                <div class="col-sm-2 form-validation">
                                                    @*<label class="lableSize">Prefered Airlines</label>*@
                                                    <input type="text" class="form-control" id="txtPreferedAirlines" name="txtPreferedAirlines" placeholder="Select Airlines.." />
                                                    <i class="fa fa-spin fa-spinner hidden setspinner setpreferedairlinesspinner"></i>
                                                    <input type="hidden" id="hdnPAirlinesyCode" />
                                                </div>
                                                <div class="col-sm-2">
                                                    @*<label class="lableSize">Classes</label>*@
                                                    <select name="ddlClasses" id="ddlClasses" class="form-control">
                                                        <option value="All">---Air Classes---</option>
                                                        <option value="All">All</option>
                                                        <option value="A">A</option>
                                                        <option value="B">B</option>
                                                        <option value="C">C</option>
                                                        <option value="D">D</option>
                                                        <option value="E">E</option>
                                                        <option value="F">F</option>
                                                        <option value="G">G</option>
                                                        <option value="H">H</option>
                                                        <option value="I">I</option>
                                                        <option value="J">J</option>
                                                        <option value="K">K</option>
                                                        <option value="L">L</option>
                                                        <option value="M">M</option>
                                                        <option value="N">N</option>
                                                        <option value="O">O</option>
                                                        <option value="P">P</option>
                                                        <option value="Q">Q</option>
                                                        <option value="R">R</option>
                                                        <option value="S">S</option>
                                                        <option value="T">T</option>
                                                        <option value="U">U</option>
                                                        <option value="V">V</option>
                                                        <option value="W">W</option>
                                                        <option value="X">X</option>
                                                        <option value="Y">Y</option>
                                                        <option value="Z">Z</option>

                                                    </select>
                                                </div>
                                                <div class="col-sm-2">
                                                    @*<label class="lableSize">Payment Limit</label>*@
                                                    <select name="ddlPaymentLimit" id="ddlPaymentLimit" class="form-control">
                                                        <option value="CL">---Payment Limit---</option>
                                                        <option value="CL">Cash Limit</option>
                                                        <option value="CL">Card Limit</option>
                                                    </select>
                                                </div>

                                                <div class="col-sm-2">
                                                    <button type="submit" id="btnOfflineSubmit" class="btn btn-success form-control" onclick="OfflineRequest();">Submit</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </section>
                            </div>
                        </div>
                    </section>

                    <section id="DynamicSectionBind" class="wrapper hidden">
                        <div class="row">
                            <div class="col-sm-12">
                                <section class="panel">
                                    <header class="panel-heading">
                                        Offline Requests
                                        <span class="tools pull-right">
                                            <a href="javascript:;" class="fa fa-times"></a>
                                        </span>
                                    </header>
                                    <div class="panel-body">
                                        <div id="InnerSectionBind">
                                        </div>
                                        <div class="row form-group">
                                            <div class="col-sm-12">
                                                <button type="submit" id="BookMyFlight" class="btn btn-success pull-right" onclick="PostBookMyFlight();">Book My Flight</button>
                                            </div>
                                        </div>
                                    </div>
                                </section>


                            </div>
                        </div>

                    </section>
                </div>
            </div>
        </div>
        }
    }
        @section footer
{
            <script src="~/Content/js/loginpage/DatePicker.js"></script>
            <script src="~/Content/js/custom/offlinerequest.js"></script>
            <script src="~/Content/js/custom/autocomplete.js"></script>
            <script>
                var str = "";
                $("#group").click(function () {
                    $(".dultsctiom option[value='10']").remove();
                    $(".dultsctiom option[value='11']").remove();
                    $(".dultsctiom option[value='12']").remove();
                    $(".dultsctiom option[value='13']").remove();
                    $(".dultsctiom option[value='14']").remove();
                    $(".dultsctiom option[value='15']").remove();
                    $(".dultsctiom option[value='16']").remove();
                    $(".dultsctiom option[value='17']").remove();
                    $(".dultsctiom option[value='18']").remove();
                    $(".dultsctiom option[value='19']").remove();
                    $(".dultsctiom option[value='20']").remove();
                    $(".dultsctiom option[value='21']").remove();
                    $(".dultsctiom option[value='22']").remove();
                    $(".dultsctiom option[value='23']").remove();
                    $(".dultsctiom option[value='24']").remove();
                    $(".dultsctiom option[value='25']").remove();
                    $(".dultsctiom option[value='26']").remove();
                    $(".dultsctiom option[value='27']").remove();
                    $(".dultsctiom option[value='28']").remove();
                    $(".dultsctiom option[value='29']").remove();
                    $(".dultsctiom option[value='30']").remove();
                    $(".dultsctiom option[value='31']").remove();
                    $(".dultsctiom option[value='32']").remove();
                    $(".dultsctiom option[value='33']").remove();
                    $(".dultsctiom option[value='34']").remove();
                    $(".dultsctiom option[value='35']").remove();
                    $(".dultsctiom option[value='36']").remove();
                    $(".dultsctiom option[value='37']").remove();
                    $(".dultsctiom option[value='38']").remove();
                    $(".dultsctiom option[value='39']").remove();
                    $(".dultsctiom option[value='40']").remove();
                    $(".dultsctiom option[value='41']").remove();
                    $(".dultsctiom option[value='42']").remove();
                    $(".dultsctiom option[value='43']").remove();
                    $(".dultsctiom option[value='44']").remove();
                    $(".dultsctiom option[value='45']").remove();
                    $(".dultsctiom option[value='46']").remove();
                    $(".dultsctiom option[value='47']").remove();
                    $(".dultsctiom option[value='48']").remove();
                    $(".dultsctiom option[value='49']").remove();
                    $(".dultsctiom option[value='50']").remove();
                    str = "<option value='10'>10</option>"
                        + "<option value='11'>11</option>"
                        + "<option value='12'>12</option>"
                        + "<option value='13'>13</option>"
                        + "<option value='14'>14</option>"
                        + "<option value='15'>15</option>"
                        + "<option value='16'>16</option>"
                        + "<option value='17'>17</option>"
                        + "<option value='18'>18</option>"
                        + "<option value='19'>19</option>"
                        + "<option value='20'>20</option>"
                        + "<option value='21'>21</option>"
                        + "<option value='22'>22</option>"
                        + "<option value='23'>23</option>"
                        + "<option value='24'>24</option>"
                        + "<option value='25'>25</option>"
                        + "<option value='26'>26</option>"
                        + "<option value='27'>27</option>"
                        + "<option value='28'>28</option>"
                        + "<option value='29'>29</option>"
                        + "<option value='30'>30</option>"
                        + "<option value='31'>31</option>"
                        + "<option value='32'>32</option>"
                        + "<option value='33'>33</option>"
                        + "<option value='34'>34</option>"
                        + "<option value='35'>35</option>"
                        + "<option value='36'>36</option>"
                        + "<option value='37'>37</option>"
                        + "<option value='38'>38</option>"
                        + "<option value='39'>39</option>"
                        + "<option value='40'>40</option>"
                        + "<option value='41'>41</option>"
                        + "<option value='42'>42</option>"
                        + "<option value='43'>43</option>"
                        + "<option value='44'>44</option>"
                        + "<option value='45'>45</option>"
                        + "<option value='46'>46</option>"
                        + "<option value='47'>47</option>"
                        + "<option value='48'>48</option>"
                        + "<option value='49'>49</option>"
                        + "<option value='50'>50</option>";
                    $("#ddlAdult").append(str);
                });
                $("#offlinebook").click(function () {
                    $(".dultsctiom option[value='10']").remove();
                    $(".dultsctiom option[value='11']").remove();
                    $(".dultsctiom option[value='12']").remove();
                    $(".dultsctiom option[value='13']").remove();
                    $(".dultsctiom option[value='14']").remove();
                    $(".dultsctiom option[value='15']").remove();
                    $(".dultsctiom option[value='16']").remove();
                    $(".dultsctiom option[value='17']").remove();
                    $(".dultsctiom option[value='18']").remove();
                    $(".dultsctiom option[value='19']").remove();
                    $(".dultsctiom option[value='20']").remove();
                    $(".dultsctiom option[value='21']").remove();
                    $(".dultsctiom option[value='22']").remove();
                    $(".dultsctiom option[value='23']").remove();
                    $(".dultsctiom option[value='24']").remove();
                    $(".dultsctiom option[value='25']").remove();
                    $(".dultsctiom option[value='26']").remove();
                    $(".dultsctiom option[value='27']").remove();
                    $(".dultsctiom option[value='28']").remove();
                    $(".dultsctiom option[value='29']").remove();
                    $(".dultsctiom option[value='30']").remove();
                    $(".dultsctiom option[value='31']").remove();
                    $(".dultsctiom option[value='32']").remove();
                    $(".dultsctiom option[value='33']").remove();
                    $(".dultsctiom option[value='34']").remove();
                    $(".dultsctiom option[value='35']").remove();
                    $(".dultsctiom option[value='36']").remove();
                    $(".dultsctiom option[value='37']").remove();
                    $(".dultsctiom option[value='38']").remove();
                    $(".dultsctiom option[value='39']").remove();
                    $(".dultsctiom option[value='40']").remove();
                    $(".dultsctiom option[value='41']").remove();
                    $(".dultsctiom option[value='42']").remove();
                    $(".dultsctiom option[value='43']").remove();
                    $(".dultsctiom option[value='44']").remove();
                    $(".dultsctiom option[value='45']").remove();
                    $(".dultsctiom option[value='46']").remove();
                    $(".dultsctiom option[value='47']").remove();
                    $(".dultsctiom option[value='48']").remove();
                    $(".dultsctiom option[value='49']").remove();
                    $(".dultsctiom option[value='50']").remove();
                });
            </script>

        }
