﻿@model ModelLibrary.FlightTicketReport
@using ModelLibrary;
@{
    ViewBag.Title = "RefundReport";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}
@section header{
    <link href="~/Content/css/DatePickerMYcss.css" rel="stylesheet" />
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <link href="~/Content/Paging/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/Content/Paging/pagingcss.css" rel="stylesheet" />
    <style>
        @@media(min-width: 992px) {
            .modal-lg {
                max-width: 85%;
                margin-left: 15%;
            }
        }
        .setspinner {
            position: absolute;
            right: 16px;
            top: 10px;
            z-index: 999;
            font-size: 20px;
            color: #169F85;
        }
    </style>
}
@{
    Agency_Backoffice.Models.LoginSessionDetails lu = new Agency_Backoffice.Models.LoginSessionDetails();
    if (Agency_Backoffice.Service.AccountService.GetLoginSession(ref lu))
    {
        <div class="col-md-12">
            <div class="x_panel">
                <section class="wrapper">
                    <div class="row">
                        <div class="col-sm-12">
                            <section class="panel">
                                <header class="panel-heading">
                                    <i class="icofont-search-document"></i>&nbsp;Pnr Refund Report
                                </header>
                                <div class="panel-body" style="padding:15px;">
                                    @using (Html.BeginForm())
                                    {
                                        <div class="row form-group">
                                            <div class="col-sm-2">
                                                @Html.TextBoxFor(p => p.FromDate, new { @class = "form-control CommanDate", placeholder = "dd/mm/yyy" })
                                            </div>
                                            <div class="col-sm-2">
                                                @Html.TextBoxFor(p => p.ToDate, new { @class = "form-control CommanDate", placeholder = "dd/mm/yyy" })
                                            </div>
                                            <div class="col-sm-2">
                                                @Html.TextBoxFor(p => p.PNR, new { @class = "form-control", placeholder = "PNR.." })
                                            </div>
                                            <div class="col-sm-2">
                                                @Html.TextBoxFor(p => p.OrderId, new { @class = "form-control", placeholder = "Orderid.." })
                                            </div>
                                            <div class="col-sm-2">
                                                @Html.TextBoxFor(p => p.PaxName, new { @class = "form-control", placeholder = "Pax name.." })
                                            </div>
                                            <div class="col-sm-2">

                                                @Html.TextBoxFor(p => p.TicketNo, new { @class = "form-control", placeholder = "TicketNo.." })
                                            </div>
                                            <div class="col-sm-2">
                                                @Html.TextBoxFor(p => p.AirlinePNR, new { @class = "form-control", placeholder = "TicketNo.." })
                                            </div>
                                            <div class="col-sm-2">
                                                @Html.DropDownListFor(model => model.Trip, new SelectList(new List<Object>{
                                                         new { value = "" , text = "--Trip Type--" },
                                                        new { value = "D" , text = "Domestic" },
                                                        new { value = "I" , text = "International"},
                                                     }, "value", "text"), new { @class = "form-control" })
                                            </div>
                                            @if (lu.AgentRegisterSession.User_Type == "DI")
                                            {
                                                <div class="col-sm-2">
                                                    @Html.TextBoxFor(p => p.AgencyName, new { @class = "form-control", placeholder = "AgencyName.." })
                                                    <i class="fa fa-spin fa-spinner hidden setspinner setlevfromspinner"></i>
                                                    @Html.HiddenFor(p => p.AgentId)
                                                </div>
                                            }
                                            <div class="col-sm-2">
                                                <input type="submit" class="btn btn-success form-control maincss" style="cursor:pointer;" onclick="return CheckForm()" value="SEARCH RESULT" />
                                                <span class="btn btn-success form-control tempscss hidden">PLEASE WAIT..<i class="fa fa-spinner fa-spin"></i></span>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </section>
                        </div>
                    </div>
                </section>

                <section class="wrapper">
                    <div class="row">
                        <div class="col-sm-12">
                            <section class="panel">
                                <header class="panel-heading">
                                    <i class="icofont-search-document"></i>&nbsp;Pnr Refund Report
                                    <span class="tools pull-right">
                                        @if (Model.Totalcount > 0)
                                        {
                                            using (Html.BeginForm("RefundReportExportToExcel", "FlightReport", FormMethod.Post))
                                            {
                                                <button type="submit" style="cursor:pointer;"><span class="icofont-file-excel"></span> Export</button>
                                            }
                                        }
                                    </span>
                                </header>
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table class="table table-collapse-phone" cellspacing="0" width="100%" ShowHeaderWhenEmpty="true" id="tblRecord">
                                            <thead>
                                                <tr>
                                                    <th class="sticky-header">Credit Node</th>
                                                    @*<th>Customer Id</th>
                                                            <th>Agency Name</th>
                                                        <th>P Type</th>*@
                                                    <th>Passenger Name</th>
                                                    <th>Pnr</th>
                                                    <th>Ticket Number#</th>
                                                    <th>Carrier</th>
                                                    <th>Sector	</th>
                                                    <th>Date</th>
                                                    <th>T Fare</th>
                                                    <th>Fare After Discount</th>
                                                    <th>Cancellation Charge</th>
                                                    <th>Sevice Charge</th>
                                                    <th>Refunded Fare</th>
                                                    <th>Comment</th>
                                                    <th>Exec Id</th>
                                                    <th>Exec Rejected Remark</th>
                                                    <th>Exec Updated Remark</th>
                                                    <th>Refund Status</th>
                                                    <th>Requested Date</th>
                                                    <th>Accepted Date</th>
                                                    <th>Updated Date</th>
                                                    <th>Cancle Status</th>
                                                    <th>Payment Mode</th>
                                                    <th>Pg Charges</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (Model.Totalcount > 0)
                                                {
                                                    foreach (var item in Model.FlightTicketReportList)
                                                    {
                                                        <tr>
                                                            @*<td class="sticky-row">
                                                                    <a href="/FlightReport/RefundCreditNode?RefundID=@item.RefundID&TicketID=@item.TicketNo" style="color: #ef6c00">@item.RefundID</a>
                                                                </td>*@
                                                            <td class="sticky-row">
                                                                <span style="color: #ef6c00;cursor:pointer;" onclick="RefundCreditNode('@item.RefundID','@item.TicketNo')">@item.RefundID</span>
                                                            </td>
                                                            @*<td>@item.StaffId</td>
                                                                    <td>@item.AgencyName</td>
                                                                <td>@item.PaxType</td>*@
                                                            <td>@item.PgTitle @item.PgFName @item.PgLName</td>
                                                            <td>@item.Pnr_Locator</td>
                                                            <td>@item.TicketNo</td>
                                                            <td>@item.VC</td>
                                                            <td>@item.Sector</td>
                                                            <td>@item.JourneyDate</td>
                                                            <td>@item.TotalBookingCost</td>
                                                            <td>@item.TotalAfterDis</td>
                                                            <td>@item.CancellationCharge</td>
                                                            <td>@item.ServiceCharge</td>
                                                            <td>@item.ResuFareDiff</td>
                                                            <td>@item.RegardingCancel</td>
                                                            <td>@item.ExecutiveId</td>
                                                            <td>@item.RejectedRemark</td>
                                                            <td>@item.Remark</td>
                                                            <td>@item.Status</td>
                                                            <td>@item.SubmitDate</td>
                                                            <td>@item.AcceptDate</td>
                                                            <td>@item.UpdateDate</td>
                                                            <td>@item.CancelStatus</td>
                                                            <td>@item.PaymentMode</td>
                                                            <td>@item.PGCharges</td>
                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    }

    <button type="button" class="btn btn-primary" id="btnRefundCreditNodeClick" style="display:none;" data-toggle="modal" data-target="#RefundCreditNodeReport"></button>
    <div class="modal fade bd-example-modal-lg" id="RefundCreditNodeReport" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" id="modelRefundCreditNodeBody">
            <div class="modal-content">
                <div class="modal-header" id="modelRefundCreditNodeHeading"></div>
                <div class="modal-body" id="RefundCreditNodeBodyContent"></div>
            </div>
        </div>
    </div>
}
@section footer{
    <script src="~/Content/js/loginpage/DatePicker.js"></script>
    <script src="~/Content/js/custom/autocomplete.js"></script>
    <script src="~/Content/js/custom/flight.js"></script>
    <script src="~/Content/Paging/pagingjs.js"></script>
}