﻿@model ModelLibrary.FlightTicketReport
@{
    ViewBag.Title = "ReissuesReport";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}
<link href="~/Content/css/DatePickerMYcss.css" rel="stylesheet" />
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<style>
    .setspinner {
        position: absolute;
        right: 16px;
        top: 10px;
        z-index: 999;
        font-size: 20px;
        color: #169F85;
    }
</style>
@{
    Agency_Backoffice.Models.LoginSessionDetails lu = new Agency_Backoffice.Models.LoginSessionDetails();
    if (Agency_Backoffice.Service.AccountService.GetLoginSession(ref lu))
    {
        <div class="col-md-12">
            <div class="x_panel">
                @*<div class="x_title">
                        <div class="row">
                            <div class="col-sm-10">
                                <h4><i class="fa fa-list"></i>&nbsp;Reissues Report List</h4>
                            </div>

                        </div>
                        <div class="clearfix"></div>
                    </div>*@


                <section class="wrapper">
                    <div class="row">
                        <div class="col-sm-12">
                            <section class="panel">
                                <header class="panel-heading">
                                    Reissues Report

                                </header>
                                <div class="panel-body" style="padding:15px;">
                                    @using (Html.BeginForm())
                                    {
                                        <div class="row form-group">
                                            <div class="col-sm-12">
                                                <div class="col-sm-2">

                                                    @Html.TextBoxFor(p => p.FromDate, new { @class = "form-control CommanDate", placeholder = "dd/mm/yyy" })
                                                </div>
                                                <div class="col-sm-2">

                                                    @Html.TextBoxFor(p => p.ToDate, new { @class = "form-control CommanDate", placeholder = "dd/mm/yyy" })
                                                </div>
                                                <div class="col-sm-2">

                                                    @Html.TextBoxFor(p => p.PNR, new { @class = "form-control", placeholder = "PNR.." })
                                                </div>
                                                <div class="col-sm-2">

                                                    @Html.TextBoxFor(p => p.OrderId, new { @class = "form-control", placeholder = "Orderid.." })
                                                </div>
                                                <div class="col-sm-2">

                                                    @Html.TextBoxFor(p => p.PaxName, new { @class = "form-control", placeholder = "Pax name.." })
                                                </div>
                                                <div class="col-sm-2">

                                                    @Html.TextBoxFor(p => p.TicketNo, new { @class = "form-control", placeholder = "TicketNo.." })
                                                </div>
                                                <div class="col-sm-2">

                                                    @Html.TextBoxFor(p => p.AirlinePNR, new { @class = "form-control", placeholder = "TicketNo.." })
                                                </div>
                                                <div class="col-sm-2">

                                                    @Html.DropDownListFor(model => model.Trip, new SelectList(new List<Object>{
                                                             new { value = "" , text = "--Trip Type--" },
                                                            new { value = "D" , text = "Domestic" },
                                                            new { value = "I" , text = "International"},
                                                         }, "value", "text"), new { @class = "form-control" })
                                                </div>
                                                @if (lu.AgentRegisterSession.User_Type == "DI")
                                                {
                                                    <div class="col-sm-2">
                                                        @Html.TextBoxFor(p => p.AgencyName, new { @class = "form-control", placeholder = "AgencyName.." })
                                                        <i class="fa fa-spin fa-spinner hidden setspinner setlevfromspinner"></i>
                                                        @Html.HiddenFor(p => p.AgentId)
                                                    </div>
                                                }
                                                <div class="col-sm-2">
                                                    <input type="submit" class="btn btn-success form-control maincss" style="cursor:pointer;" onclick="return CheckForm()" value="SEARCH RESULT" />
                                                    <span class="btn btn-success form-control tempscss hidden">PLEASE WAIT..<i class="fa fa-spinner fa-spin"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </section>
                        </div>
                    </div>
                </section>
                <section class="wrapper">
                    <div class="row">
                        <div class="col-sm-12">
                            <section class="panel">
                                <header class="panel-heading">
                                    Ticket Report
                                    <span class="tools pull-right">
                                        @if (Model.Totalcount > 0)
                                        {
                                            using (Html.BeginForm("ReissuesReportExportToExcel", "FlightReport", FormMethod.Post))
                                            {
                                                <button type="submit" style="cursor:pointer;"><span class="icofont-file-excel"></span> Export</button>
                                            }
                                        }
                                    </span>
                                </header>
                                <div class="panel-body table-responsive" style="overflow:scroll;">
                                    <table class="table table-collapse-phone" cellspacing="0" width="100%" ShowHeaderWhenEmpty="true">
                                        <thead>
                                            <tr>
                                                <th class="sticky-header">Customer Id</th>
                                                @*<th>Agency Name</th>*@
                                                <th>Pax Id</th>
                                                <th>Pax Type</th>
                                                <th>Pax Name</th>
                                                <th>PNR</th>
                                                <th>Ticket Number#</th>
                                                <th>Carrier</th>
                                                <th>Sector</th>
                                                <th>Flight Number</th>
                                                <th>Departure Date</th>
                                                <th>T Fare</th>
                                                <th>Fare After Discount</th>
                                                <th>Reissue Charge</th>
                                                <th>Service Charge</th>
                                                <th>Fare Difference</th>
                                                <th>Exec Id</th>
                                                <th>Exec Reject Remark</th>
                                                <th>Requested Date</th>
                                                <th>Accepted Date</th>
                                                <th>Update Date</th>
                                                <th>Payment Mode</th>
                                                <th>Pg Charges</th>
                                            </tr>
                                        </thead>
                                        <tbody style="text-align:center;">
                                            @if (Model.Totalcount > 0)
                                            {
                                                foreach (var item in Model.FlightTicketReportList)
                                                {
                                                    <tr>
                                                        <td class="sticky-row">@item.StaffId</td>
                                                        @*<td>@item.AgencyName</td>*@
                                                        <td>@item.PaxId</td>
                                                        <td>@item.PaxType</td>
                                                        <td>@item.PgTitle @item.PgFName @item.PgLName</td>
                                                        <td>@item.Pnr_Locator</td>
                                                        <td>@item.TicketNo</td>
                                                        <td>@item.VC</td>
                                                        <td>@item.Sector</td>
                                                        <td>@item.FlightNo</td>
                                                        <td>@item.JourneyDate</td>
                                                        <td>@item.TotalBookingCost</td>
                                                        <td>@item.TotalAfterDis</td>
                                                        <td>@item.ResuCharge</td>
                                                        <td>@item.ResuServiseCharge</td>
                                                        <td>@item.ResuFareDiff</td>
                                                        <td>@item.ExecutiveId</td>
                                                        <td>@item.RejectedRemark</td>
                                                        <td>@item.SubmitDate</td>
                                                        <td>@item.AcceptDate</td>
                                                        <td>@item.UpdateDate</td>
                                                        <td>@item.PaymentMode</td>
                                                        <td>@item.PGCharges</td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </section>
                        </div>
                    </div>
                </section>

            </div>
        </div>
    }
}
<script src="~/Content/js/loginpage/DatePicker.js"></script>
<script src="~/Content/js/custom/autocomplete.js"></script>
<script>
    function CheckForm() {
        $('.maincss').addClass('hidden');
        $('.tempscss').removeClass('hidden');
    }
</script>

