﻿@model ModelLibrary.SingleTicketReportModel
@using ModelLibrary;
@{
    ViewBag.Title = "TicketDetailsReport";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}
@{
    Agency_Backoffice.Models.LoginSessionDetails lu = new Agency_Backoffice.Models.LoginSessionDetails();
    if (Agency_Backoffice.Service.AccountService.GetLoginSession(ref lu))
    {
        <div class="col-md-12">
            <div class="x_panel">


                <section class="wrapper">
                    <div class="row">
                        <div class="col-sm-12">
                            <section class="panel">

                                <header class="panel-heading">
                                    <span>
                                        <i class="icofont-airplane icofont-rotate-90"></i>Booking Information :
                                        @if (Model.BookingDetail.BookingDetailList != null)
                                        {
                                            <strong style="color: green;">@Model.BookingDetail.BookingDetailList[0].OrderID</strong>
                                        }
                                        else
                                        {
                                            <span>N/A</span>
                                        }
                                    </span>
                                    <div style="float:right;">
                                        @if (Model.BookingDetail.BookingDetailList != null)
                                        {


                                            <a class="user-menu-link" href='@Model.BookingDetail.BookingDetailList[0].URL' target="_blank">
                                                <i class="icofont-eye"></i> View Ticket
                                            </a>

                                            <a class="user-menu-link" href='@Model.BookingDetail.BookingDetailList[0].URL2' target="_blank"><i class="icofont-copy-invert"></i> Invoice </a>
                                        }
                                    </div>

                                </header>

                                <div class="panel-body" style="padding:15px;">

                                    <div class="row">
                                        <div class="col-md-4">
                                            @if (Model.BookingDetail.BookingDetailList != null)
                                            {
                                                <p> Booking ID: <strong>@Model.BookingDetail.BookingDetailList[0].OrderID</strong></p>
                                            }
                                            else
                                            {
                                                <p>N/A</p>
                                            }
                                        </div>

                                        <div class="col-md-4">
                                            @if (Model.BookingDetail.BookingDetailList != null)
                                            {
                                                <p>Amount: <strong>₹ @Model.BookingDetail.BookingDetailList[0].amount</strong></p>
                                            }
                                            else
                                            {
                                                <p>N/A</p>
                                            }
                                        </div>
                                        <div class="col-md-4">
                                            @if (Model.PaymentDetail.PaymentList != null)
                                            {
                                                if (Model.PaymentDetail.PaymentList[0].Status.ToString() == "Ticketed")
                                                {
                                                    <p>Status :<span style="color: #e8f1e8;background: green;border-radius: 4px;font-size: 11px;padding:3px;">@Model.PaymentDetail.PaymentList[0].Status</span></p>

                                                }
                                                else
                                                {
                                                    <p>
                                                        Status :<span style="color: #e8f1e8;background: red;border-radius: 7px;font-size: 18px;">
                                                            @Model.PaymentDetail.PaymentList[0].Status
                                                        </span>
                                                    </p>

                                                }
                                            }
                                            else
                                            {
                                                <p>- - -</p>
                                            }
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="col-md-4">


                                            <p>Airline PNR : <strong>@Model.BookingDetail.BookingDetailList[0].Airlinepnr</strong></p>


                                        </div>

                                        <div class="col-md-4">
                                            @if (Model.BookingDetail.BookingDetailList != null)
                                            {
                                                <p> Agency Name : <strong>@Model.BookingDetail.BookingDetailList[0].Agent</strong></p>
                                            }
                                            else
                                            {
                                                <p>N/A</p>
                                            }
                                        </div>
                                        <div class="col-md-4">
                                            <label>Flow Type : <strong>Online</strong></label>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="col-md-4">
                                            @if (Model.BookingDetail.BookingDetailList != null)
                                            {
                                                <p>Booking Date : <strong>@Model.BookingDetail.BookingDetailList[0].CreateDate</strong></p>
                                            }
                                            else
                                            {
                                                <p>N/A</p>
                                            }
                                        </div>
                                        <div class="col-md-4">
                                            @if (Model.BookingDetail.BookingDetailList != null)
                                            {
                                                <p> Agency email : <strong>@Model.BookingDetail.BookingDetailList[0].email</strong></p>
                                            }
                                            else
                                            {
                                                <p>N/A</p>
                                            }
                                        </div>
                                        <div class="col-md-4">
                                            @if (Model.BookingDetail.BookingDetailList != null)
                                            {
                                                <p> Agency Mob. : <strong>@Model.BookingDetail.BookingDetailList[0].mob</strong></p>
                                            }
                                            else
                                            {
                                                <p>N/A</p>
                                            }
                                        </div>
                                    </div>
                                </div>

                            </section>
                        </div>
                    </div>
                </section>

                <section class="wrapper">
                    <div class="row">
                        <div class="col-sm-12">
                            <section class="panel">

                                <header class="panel-heading">
                                    <i class="icofont-airplane-alt"></i>  Booking Details

                                </header>



                                <div class="panel-body" style="padding:15px;">

                                    <div class="borderAll posRel whiteBg brRadius5 fl width100 fl padTB10" style="margin-bottom:10px;">
                                        <div class="bkHalfCircleTop mobdn bkHalfCirctop posAbs"></div>
                                        @if (Model.BookingDetail.BookingDetailList != null)
                                        {


                                            <div class="col-md-3">
                                                <div class="row">
                                                    <div class="col-md-5">
                                                        <span class="db padB5">
                                                            <img alt='Logo Not Found' style='width: 35px; margin-left: 20px;' src='@Model.BookingDetail.BookingDetailList[0].VCLogoUrl' />
                                                        </span>
                                                    </div>
                                                    <div class="col-md-7">
                                                        <span class="db greyLt ico12">
                                                            @Model.BookingDetail.BookingDetailList[0].airlinename
                                                        </span>
                                                        <span class="db greyLter padT2 ico11">
                                                            @Model.BookingDetail.BookingDetailList[0].fltno
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-3 col-sm-3 col-xs-4 padL20">
                                                <span class="ico20 db padB10">
                                                    @Model.BookingDetail.BookingDetailList[0].depairportname (  @Model.BookingDetail.BookingDetailList[0].depairportcode)
                                                </span>

                                                <span class="ico13 db greyLter lh1-2 mobdn">
                                                    @*@Model.BookingDetail.BookingDetailList[0].depdate  @Model.BookingDetail.BookingDetailList[0].deptime*@
                                                    @Model.BookingDetail.BookingDetailList[0].DepDateTime
                                                </span>
                                            </div>

                                            <div class="col-md-3 col-sm-4 col-xs-4 mobdn txtCenter padLR20 padT20" style="text-align:center;">
                                                <span class="db ico20 backgroundLn">
                                                    <i class="oval-2 fl"></i>

                                                    <i class="icofont-airplane icofont-2x icofont-rotate-90 fr ico22 blue icon-flight_line1"></i>

                                                </span>
                                            </div>


                                            <div class="col-md-3 col-sm-3 col-xs-4 padL20">
                                                <span class="ico20 db padT5 padB10">
                                                    @Model.BookingDetail.BookingDetailList[0].arrivalairportname ( @Model.BookingDetail.BookingDetailList[0].arrairportcode)
                                                </span>

                                                <span class="ico13 db greyLter lh1-2 mobdn">
                                                    @*@Model.BookingDetail.BookingDetailList[0].arrdate  @Model.BookingDetail.BookingDetailList[0].arrtime*@
                                                    @Model.BookingDetail.BookingDetailList[0].ArrDateTime
                                                </span>
                                            </div>

                                        }
                                        <div class="bkHalfCircle bkHalfCircbot mobdn posAbs"></div>
                                    </div>


                                    <div class="tabl-responsive" style="margin-top: 80px;">
                                        <table class="table table-collapse-phone" cellspacing="0" width="100%" ShowHeaderWhenEmpty="true" style="width: 100%; max-width: 100% !important; border: 1px solid #ccc; border: 1px solid #b7b7b7; border-radius: 5px; ">
                                            <thead>
                                                <tr>
                                                    <th>Sr No.</th>
                                                    <th>Passenger Name</th>
                                                    <th>Type</th>
                                                    <th>Ticket Number</th>
                                                    <th>Ticket Status</th>
                                                    <th>Base Fare</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (Model.BookingDetail.BookingDetailList != null)
                                                {
                                                    var i = 0;

                                                    foreach (var item in Model.BookingDetail.BookingDetailList)
                                                    {
                                                        i++;

                                                        <tr>
                                                            <td> @i</td>
                                                            <td> @item.Title @item.FName @item.LName</td>
                                                            <td> @item.PaxType</td>
                                                            <td>  @item.TicketNumber</td>
                                                            <td>@item.Status</td>
                                                            <td>₹ @item.BaseFare</td>
                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>

                                    <div class="" style="border: 1px solid #000; border-radius: 5px; padding: 10px;">
                                        @*<div class="bkHalfCircleTop mobdn bkHalfCirctop posAbs"></div>*@
                                        @if (Model.BookingDetail.BookingDetailList != null)
                                        {


                                            <div class="row" style="padding-left: 22px">

                                                <div class="col-md-3">
                                                    <p>Total Tax : <strong>₹ @Model.BookingDetail.BookingDetailList[0].totaltax</strong></p>


                                                </div>

                                                <div class="col-md-3">
                                                    <p>Total commission : <strong>₹ @Model.BookingDetail.BookingDetailList[0].commission</strong></p>
                                                </div>
                                                <div class="col-md-3">
                                                    <p>Total netfare : <strong>₹ @Model.BookingDetail.BookingDetailList[0].BaseFare</strong></p>

                                                </div>
                                                <div class="col-md-3">
                                                    <p>Total Gross Fare : <strong>₹ @Model.BookingDetail.BookingDetailList[0].amount</strong></p>
                                                </div>
                                            </div>
                                            <div class="row" style="padding-left: 22px">
                                                <div class="col-md-3">

                                                    <p>Airlinepnr : <strong>@Model.BookingDetail.BookingDetailList[0].Airlinepnr</strong></p>
                                                </div>

                                                <div class="col-md-3">
                                                    <p>bookingclass : <strong>@Model.BookingDetail.BookingDetailList[0].bookingclass</strong></p>
                                                </div>
                                                <div class="col-md-4">
                                                    <p>Refundable : <strong>@Model.BookingDetail.BookingDetailList[0].refundable</strong></p>
                                                </div>
                                            </div>
                                        }

                                    </div>
                                    <div style="clear:both;"></div>
                                </div>
                            </section>
                        </div>

                    </div>
                </section>

                <section class="wrapper">
                    <div class="row">
                        <div class="col-sm-12">
                            <section class="panel">

                                <header class="panel-heading">
                                    <i class="icofont-pay"></i>  Payment Process

                                </header>

                                <div class="panel-body table-responsive">
                                    <table class="table table-collapse-phone" cellspacing="0" width="100%" ShowHeaderWhenEmpty="true" style="width: 100%; max-width: 100% !important; border: 1px solid #ccc; border: 1px solid #b7b7b7; border-radius: 5px; ">
                                        <thead>
                                            <tr>
                                                <th>
                                                    Sr No.
                                                </th>
                                                <th>
                                                    Date
                                                </th>
                                                <th>
                                                    Booking ID
                                                </th>
                                                <th>
                                                    Flight Type
                                                </th>
                                                <th style="text-align:right;">
                                                    Credit
                                                </th>
                                                <th style="text-align:right;">
                                                    Debit
                                                </th>
                                                <th style="text-align:right;">
                                                    Balance
                                                </th>
                                                <th>
                                                    Status
                                                </th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                @if (Model.PaymentDetail.PaymentList != null)
                                                {
                                                    var i = 0;
                                                    foreach (var item in Model.PaymentDetail.PaymentList)
                                                    {
                                                        i++;
                                                        <td>@i </td>
                                                        <td>@item.CreatedDate </td>
                                                        <td>@item.InvoiceNo </td>
                                                        <td>@item.BookingType </td>
                                                        <td style="text-align:center;">₹ @item.Credit </td>
                                                        <td style="text-align:center;">₹ @item.Debit </td>
                                                        <td style="text-align:center;">₹ @item.Aval_Balance </td>
                                                        <td>@item.Status </td>
                                                    }
                                                }
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </section>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        }
    }
