﻿@model ModelLibrary.RailModel
@using ModelLibrary;

@{
    ViewBag.Title = "TicketReport";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}
@section header{
    <link href="~/Content/css/DatePickerMYcss.css" rel="stylesheet" />
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <style>
        @@media(min-width: 992px) {
            .modal-lg {
                max-width: 85%;
                margin-left: 15%;
            }
        }

        .setspinner {
            position: absolute;
            right: 16px;
            top: 10px;
            z-index: 999;
            font-size: 20px;
            color: #169F85;
        }
        .table thead th {
            background: #dddddd;
        }
            .table {
            width: max-content !important;
        }
        .sticky-header:first-child {          
            z-index: 4 !important;
        }
    </style>

}

@{
    Agency_Backoffice.Models.LoginSessionDetails lu = new Agency_Backoffice.Models.LoginSessionDetails();
    if (Agency_Backoffice.Service.AccountService.GetLoginSession(ref lu))
    {

        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_content">
                    <section class="wrapper">
                        <div class="row">
                            <div class="col-sm-12">
                                <section class="panel">
                                    <header class="panel-heading">
                                        <i class="icofont-airplane-alt"></i>  Rail Report
                                    </header>
                                    <div class="panel-body" style="padding:15px;">
                                        @using (Html.BeginForm("RailReport", "Rail", FormMethod.Post))
                                        {
                                            <div class="row form-group">
                                                <div class="col-sm-12">
                                                    <div class="col-sm-4">
                                                        @Html.TextBoxFor(p => p.FromDate, new { @class = "form-control CommanDate", placeholder = "dd/mm/yyy", autocomplete = "off" })
                                                    </div>
                                                    <div class="col-sm-4">

                                                        @Html.TextBoxFor(p => p.ToDate, new { @class = "form-control CommanDate", placeholder = "dd/mm/yyy", autocomplete = "off" })
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <input type="submit" class="btn btn-success form-control maincss" style="cursor:pointer;" onclick="return CheckForm()" value="SEARCH RESULT" />
                                                        <span class="btn btn-success form-control tempscss hidden">PLEASE WAIT..<i class="fa fa-spinner fa-spin"></i></span>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </section>
                            </div>
                        </div>
                    </section>
                    <section class="wrapper">
                        <div class="row">
                            <div class="col-sm-12">
                                <section class="panel">
                                    <header class="panel-heading">
                                        <i class="icofont-search-document"></i>Rail Report
                                        <span class="tools pull-right">
                                            @if (Model.Totalcount > 0)
                                            {
                                                using (Html.BeginForm("RailExportToExcel", "FlightReport", FormMethod.Post))
                                                {
                                                    <button type="submit" style="cursor:pointer;"><span class="icofont-file-excel"></span> Export</button>
                                                }
                                            }
                                        </span>
                                    </header>
                                    <div class="panel-body">
                                        <div class="table-responsive" style="height: 450px;">
                                            <table class="table table-collapse-phone" cellspacing="0" ShowHeaderWhenEmpty="true" id="tblRecord">
                                                <thead>
                                                    <tr>
                                                        <th class="sticky-header">Agency Name</th>
                                                        <th>AgencyID</th>
                                                        <th>Track Id</th>
                                                        <th>Reservation Id</th>
                                                        <th>PNR NO</th>
                                                        <th>Class</th>
                                                        <th>Reference No</th>
                                                        <th>Debit Amount</th>
                                                        <th>Status</th>
                                                        <th>Booking Date</th>
                                                    </tr>
                                                </thead>
                                                <tbody data-show="true" data-id="ddes">
                                                    @if (Model.Totalcount > 0)
                                                    {
                                                        foreach (var item in Model.RailReportList)
                                                        {
                                                            <tr>

                                                                <td class="sticky-row">@item.AgencyName</td>
                                                                <td>@item.AgencyId</td>
                                                                <td>@item.LedgerTrackId</td>
                                                                <td>@item.ReservationId</td>
                                                                <td>
                                                                    @item.PNR_NO
                                                                </td>
                                                                <td>
                                                                    @item.Class
                                                                </td>
                                                                <td>@item.ReferenceNo</td>
                                                                <td>@item.LedDebit</td>
                                                                <td>
                                                                    @if (item.BookingStatus == "success")
                                                                    {
                                                                        <span style='color:green;font-weight:bold;'>SUCCESS</span>
                                                                    }
                                                                    else if (item.BookingStatus == "failed")
                                                                    {
                                                                        <span style='color:red;font-weight:bold;'>FAILED</span>
                                                                    }
                                                                    else
                                                                    {
                                                                        <span style='color:orange;font-weight:bold;'>NOT CONFIRMED</span>
                                                                    }
                                                                </td>

                                                                <td>@item.BookingDate</td>
                                                            </tr>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <tr>
                                                            <td colspan="9" class="text-center">
                                                                <p class="text-danger">No result found!</p>
                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <br />
                                    <br />
                                </section>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    }
}
@section footer{
    <script src="~/Content/js/loginpage/DatePicker.js"></script>
}
