﻿.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
    /*background: #21b2e7 !important;*/
    background: #a3e1f8 !important;
    border-radius: 5px;
    color: #fff !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    background: #21b2e7 !important;
    border-radius: 5px;
    color: #fff !important;
}

    .dataTables_wrapper .dataTables_paginate .paginate_button.current {
        background: #ef6c00 !important;
        border-radius: 5px;
        color: #fff !important;
    }

.dataTables_info, .paging_full_numbers {
    width: auto !important;
}

.table {
    border-bottom: 1px solid #ccc!important;
}
th {
    cursor:pointer;
    width:auto!important;
}
/*.table td, .table th {
    padding: 0.5rem!important;
}*/

.ellipsis {
    color: #ef6c00 !important;
    font-size: 20px;
}
.dataTables_length, .dataTables_filter {
    display: none;
}