﻿.seeingo {
    font-family: sans-serif;
    margin-left: 7px;
    display: block;
    position: relative;
    padding-left: 29px;
    margin-bottom: 0px;
    cursor: pointer;
    /*font-size: 15px;*/
    margin-top: 18px !important;
    font-weight: 100 !important;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

    /* Hide the browser's default checkbox */
    .seeingo input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 19px;
    width: 19px;
    background-color: #fff;
    border: 1px solid;
    border-radius: 4px;
}

/* On mouse-over, add a grey background color */
.seeingo:hover input ~ .checkmark {
    background-color: #fff;
}

/* When the checkbox is checked, add a blue background */
.seeingo input:checked ~ .checkmark {
    background-color: #26B99A;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.seeingo input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.seeingo .checkmark:after {
    left: 5px;
    top: 1px;
    width: 7px;
    height: 12px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.radio input[type="radio"] {
    position: absolute;
    opacity: 0;
}

    .radio input[type="radio"] + .radio-label:before {
        content: '';
        background: #f4f4f4;
        border-radius: 100%;
        border: 1px solid #26B99A;
        display: inline-block;
        width: 20px;
        height: 20px;
        position: relative;        
        top: 0px;
        margin-right: 5px;
        vertical-align: top;
        cursor: pointer;       
        -webkit-transition: all 250ms ease;
        transition: all 250ms ease;
    }

    .radio input[type="radio"]:checked + .radio-label:before {
        background-color: #26B99A;
        box-shadow: inset 0 0 0 4px #f4f4f4;
    }

    .radio input[type="radio"]:focus + .radio-label:before {
        outline: none;
        border-color: #26B99A;
    }

    .radio input[type="radio"]:disabled + .radio-label:before {
        box-shadow: inset 0 0 0 4px #f4f4f4;
        border-color: #b4b4b4;
        background: #b4b4b4;
    }

    .radio input[type="radio"] + .radio-label:empty:before {
        margin-right: 0;
    }