﻿.theme-account-avatar {
    margin-top: 9%;
    display: flex;
}

.theme-account-avatar-img {
    float: left;
    width: 40px;
    display: block;
    border-radius: 50%;
    margin-right: 15px;
}

.theme-account-avatar-name {
    margin-bottom: 0;
    font-size: 14px;
    line-height: 1.2em;
    margin-top: 4px;
}

.header-top {
    background: #21b2e7;
    padding: 10px 0;
    line-height: 20px;
}

.align-items-center {
    -ms-flex-align: center !important;
    align-items: center !important;
}

@media (min-width: 768px) {
    .float-md-left {
        float: left !important;
    }
}

.align-items-center {
    -ms-flex-align: center !important;
    align-items: center !important;
}

.d-flex {
    display: -ms-flexbox !important;
    display: flex !important;
}

.top-left-link ul li {
    width: 100%;
    /*border-right: 1px solid #999;*/
    margin-right: 10px;
}

@media (min-width: 576px) {
    .float-sm-right {
        float: right !important;
    }
}

@media (min-width: 576px) {
    .d-sm-block {
        display: block !important;
    }
}

@media (min-width: 576px) {
    .float-sm-right {
        float: right !important;
    }
}

@media (min-width: 576px) {
    .d-sm-block {
        display: block !important;
    }
}

.d-none {
    display: none;
}

.top-right-link ul li:first-child {
    padding-left: 0;
}

.top-right-link ul li {
    border-right: 1px solid #999999;
    float: left;
    padding: 0 12px;
    position: relative;
}

.content {
    height: 100%;
    min-height: 100%;
}

.top-right-link ul li a {
    color: #fff;
}

a, a:focus, a:active, a:link, img {
    outline: none;
    text-decoration: none;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: #000;
    /*   -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;*/
}


@media (min-width: 992px) {
    .header-middle {
        position: relative;
        background: #fff;
    }
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

@media (min-width: 992px) {
    .header-middle-left {
        background: #fff;
        position: relative;
        z-index: 2;
    }
}

.navbar-header {
    float: none;
    background: none !important;
}

    .navbar-header .navbar-brand {
        height: auto;
        padding: 0;
        margin-right: 0 !important;
        margin-top: 0 !important;
        margin-left: 0 !important;
    }

a, a:focus, a:active, a:link, img {
    outline: none;
    text-decoration: none;
}

.navbar-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

.navbar-expand .navbar-collapse {
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
}

.collapse:not(.show) {
    display: none;
}

.justify-content-center {
    -ms-flex-pack: center !important;
    justify-content: center !important;
}

.navbar-collapse {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-align: center;
    align-items: center;
}

@media (min-width: 576px) {
    .d-sm-none {
        display: none !important;
    }
}

.top-right-link ul li:first-child {
    padding-left: 0;
}

.navbar-nav > li:first-child {
    margin-left: 0;
}

.navbar-nav > li {
    margin: 0 15px;
}

.nav > li {
    position: inherit;
    display: inline-block;
}

.navbar-nav > li > a {
    color: #3a3a3a;
    padding: 30px 0;
    margin: 0;
    font-size: 14px;
    font-weight: 600;
    position: relative;
    display: inline-block;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}



@media (min-width: 992px) {
    .header-middle::after {
        background: #fff;
        content: "";
        position: absolute;
        width: 50%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 0;
    }
}

@media (min-width: 992px) {
    .header-contact-info span {
        position: absolute;
        left: -18px;
        top: 50%;
        transform: translateY(-50%);
        width: 30px;
        height: 30px;
        background: #e6144f;
        border-radius: 50%;
        line-height: 30px;
        text-align: center;
        color: #fff;
    }
}

@media (min-width: 992px) {
    .header-contact-info {
        position: relative;
    }
}

@media (min-width: 1200px) {
    .header-contact-info {
        padding-left: 50px;
    }
}

@media (min-width: 992px) {
    .d-lg-block {
        display: block !important;
    }
}

.no-gutters > .col, .no-gutters > [class*=col-] {
    padding-right: 0;
    padding-left: 0;
}

@media (min-width: 992px) {
    .col-lg-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
}

.navbar-expand .navbar-nav {
    -ms-flex-direction: row;
    flex-direction: row;
}

.navbar-nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

@media (min-width: 992px) {
    .col-lg-9 {
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%;
    }
}

@media (min-width: 992px) {
    .col-lg-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
}

.col-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

img {
    height: auto;
    max-width: 100%;
    border: none;
    outline: none;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

img {
    vertical-align: middle;
    border-style: none;
}

ul {
    list-style: none;
    padding-left: 0px;
    margin-bottom: 0;
}

.select-dropdown {
    position: relative;
    width: 100%;
    display: block;
    height: 42px;
    border: 1px solid #e1e1e1;
    -webkit-transition: all 0.4s ease-in;
    -moz-transition: all 0.4s ease-in;
    -o-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}

    .select-dropdown.language-currency {
        border: none;
        height: auto;
    }

.language-currency .drop-option {
    padding: 0;
}

.drop-option {
    cursor: pointer;
    padding: 9px 10px;
}

.language-currency .drop-option span, .language-currency .drop-option .dropdown-arrow {
    color: #ffffff;
}



.language-currency .drop-option span, .language-currency .drop-option .dropdown-arrow {
    color: #ffffff;
}

.drop-option .dropdown-arrow {
    position: absolute;
    top: 50%;
    right: 10px;
    color: #5d646d;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

@media (min-width: 992px) {
    .header-contact-info h3 {
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 5px;
        color: #fff;
    }
}

.top-right-link svg {
    width: 20px;
    margin-right: 2px;
}

svg {
    overflow: hidden;
    vertical-align: middle;
}




@media (min-width: 992px) {
    .d-lg-block {
        display: block !important;
        z-index: 4;
        margin-top: 13px;
    }
}

.menu-container {
    visibility: hidden;
    opacity: 0;
}

    .menu-container.active {
        visibility: visible;
        opacity: 1;
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
    }

.user-menu {
    position: absolute;
    right: -22px;
    background-color: #FFFFFF;
    width: 256px;
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 20px;
}

    .user-menu .profile-highlight {
        display: -webkit-box;
        display: flex;
        border-bottom: 1px solid #E0E0E0;
        padding: 12px 16px;
        margin-bottom: 6px;
    }

        .user-menu .profile-highlight img {
            width: 48px;
            height: 48px;
            border-radius: 25px;
            -o-object-fit: cover;
            object-fit: cover;
        }

        .user-menu .profile-highlight .details {
            display: -webkit-box;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            flex-direction: column;
            margin: auto 12px;
        }

            .user-menu .profile-highlight .details #profile-name {
                font-weight: 600;
                font-size: 16px;
            }

            .user-menu .profile-highlight .details #profile-footer {
                font-weight: 300;
                font-size: 14px;
                margin-top: 4px;
            }

    .user-menu .footer {
        border-top: 1px solid #E0E0E0;
        padding-top: 6px;
        margin-top: 6px;
    }

        .user-menu .footer .user-menu-link {
            font-size: 13px;
        }

    .user-menu .user-menu-link {
        display: -webkit-box;
        display: flex;
        text-decoration: none;
        color: #333333;
        font-weight: 400;
        font-size: 14px;
        padding: 12px 16px;
    }

        .user-menu .user-menu-link div {
            margin: auto 10px;
        }

        .user-menu .user-menu-link:hover {
            background-color: #F5F5F5;
            color: #333333;
        }

    .user-menu:before {
        position: absolute;
        top: -16px;
        left: 120px;
        display: inline-block;
        content: "";
        border: 8px solid transparent;
        border-bottom-color: #E0E0E0;
    }

    .user-menu:after {
        position: absolute;
        top: -14px;
        left: 121px;
        display: inline-block;
        content: "";
        border: 7px solid transparent;
        border-bottom-color: #FFFFFF;
    }

/*.wrapper {
    position: relative;
    background: #fff;
    overflow: auto;
    white-space: nowrap;
    border-radius: 10px;
    margin-top: 5vh;
    box-shadow: 0 10px 45px rgb(0 0 0 / 42%), 0 2px 4px rgb(0 0 0 / 10%);
}*/

.dataTables_filter {
    float: right;
}

.table-hover > tbody > tr:hover {
    background-color: #ccffff;
}

/*@media only screen and (min-width: 768px) {
    .table {
        
        max-width: 100% !important;
    }
}*/

thead {
    background: #ddd;
}

table thead th {
    padding: 3px;
    position: sticky;
    top: 0;
    z-index: 1;
    /*width: 25vw;*/
    /* background: white;*/
}

    table thead th:first-child {
        position: sticky;
        left: 0;
        z-index: 2;
    }

table tbody th {
    position: sticky;
    left: 0;
    background: white;
    z-index: 1;
}

.table td:nth-child(2) {
    overflow: hidden;
    text-overflow: ellipsis;
}

.highlight {
    background: #ffff99;
}

@media only screen and (max-width: 767px) {
    /* Force table to not be like tables anymore */
    table,
    thead,
    tbody,
    th,
    td,
    tr {
        display: block;
    }

        /* Hide table headers (but not display: none;, for accessibility) */
        thead tr,
        tfoot tr {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }

    td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50% !important;
    }

        td:before {
            /* Now like a table header */
            position: absolute;
            /* Top/left values mimic padding */
            top: 6px;
            left: 6px;
            width: 45%;
            padding-right: 10px;
            white-space: nowrap;
        }

    .table td:nth-child(1) {
        background: #ccc;
        height: 100%;
        top: 0;
        left: 0;
        font-weight: bold;
    }

    /*
  Label the data
  */
    td:nth-of-type(1):before {
        content: "Name";
    }

    td:nth-of-type(2):before {
        content: "Position";
    }

    td:nth-of-type(3):before {
        content: "Office";
    }

    td:nth-of-type(4):before {
        content: "Age";
    }

    td:nth-of-type(5):before {
        content: "Start date";
    }

    td:nth-of-type(6):before {
        content: "Salary";
    }

    .dataTables_length {
        display: none;
    }
}

.sticky-header {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background: #dddddd;
    color: #000;
    z-index: 3 !important;
}

    .sticky-header:first-child {
        left: 0;
        z-index: 4;
    }

.sticky-row {
    position: sticky;
    position: -webkit-sticky;
    left: 0;
    top: 23px;
    background: #fff;
    color: #878787;
    z-index: 3;
}

    .sticky-row:nth-child(2) {
        left: 100px; /* How can I make this dynamic? */
        z-index: 2;
    }

sticky-column {
    position: sticky;
    position: -webkit-sticky;
    left: 0;
    background: #569CA8;
    color: white;
    z-index: 1;
    width: 100px; /* How can I make this dynamic? */
}



/**
 * Define variables
 */
/**
 * Style default tags
 */
*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


/**
 * Utility styles
 */
.inliner {
    height: 100%;
}

    .inliner,
    .inliner + .inlined {
        display: inline-block;
        vertical-align: middle;
    }

.inlined {
    width: 90%;
}

/**
 * Component styles
 */
.progress-meter {
    margin: 20px auto 40px;
    padding: 40px;
}

.progress-meter {
    counter-reset: point;
}

    .progress-meter .progress-point:before {
        -moz-transition: all 1s;
        -o-transition: all 1s;
        -webkit-transition: all 1s;
        transition: all 1s;
        -moz-border-radius: 24px;
        -webkit-border-radius: 24px;
        border-radius: 24px;
        -moz-box-shadow: 0 0 0 2px white;
        -webkit-box-shadow: 0 0 0 2px white;
        box-shadow: 0 0 0 2px white;
        content: "\2713";
        display: block;
        width: 24px;
        margin: 0 auto 12px;
        border: 4px solid #aaaaaa;
        text-align: center;
        background-color: white;
        color: white;
    }

    .progress-meter .track {
        position: relative;
        height: 4px;
        background: #ddd;
    }

    .progress-meter .progress {
        -moz-transition: width 1s;
        -o-transition: width 1s;
        -webkit-transition: width 1s;
        transition: width 1s;
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 0;
        height: 4px;
        background: red;
    }

    .progress-meter .progress-points {
        position: relative;
        margin: -14px 0 0;
        padding: 0;
        list-style: none;
    }

        .progress-meter .progress-points .progress-point:nth-child(1) {
            left: 0%;
        }

        .progress-meter .progress-points .progress-point:nth-child(2) {
            left: 25%;
        }

        .progress-meter .progress-points .progress-point:nth-child(3) {
            left: 50%;
        }

        .progress-meter .progress-points .progress-point:nth-child(4) {
            left: 75%;
        }

        .progress-meter .progress-points .progress-point:nth-child(5) {
            left: 100%;
        }

    .progress-meter .progress-point {
        -moz-transition: color 1s;
        -o-transition: color 1s;
        -webkit-transition: color 1s;
        transition: color 1s;
        position: absolute;
        display: block;
        width: 100px;
        margin-left: -50px;
        text-align: center;
        cursor: pointer;
        color: #999;
    }

        .progress-meter .progress-point.completed, .progress-meter .progress-point.active {
            color: #777;
        }

            .progress-meter .progress-point.completed:before {
                border-color: #777;
                background-color: #777;
            }

            .progress-meter .progress-point.active:before {
                -moz-transition-delay: 1s;
                -o-transition-delay: 1s;
                -webkit-transition-delay: 1s;
                transition-delay: 1s;
                border-color: #777;
            }

        .progress-meter .progress-point .label:before {
            counter-increment: point;
            content: counter(point) ". ";
            /* Display the counter */
        }

/**
 * Demo controls 
 */
.controls {
    text-align: center;
    font-size: 12px;
}

.trigger {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding: 6px 8px;
    border: none;
    font: 14px inherit;
    text-shadow: 0px 1px 1px rgba(251, 251, 251, 0.75);
    color: #626262;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2JiYmJiYiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzk1OTU5NSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #bbbbbb), color-stop(100%, #959595));
    background-image: -moz-linear-gradient(#bbbbbb, #959595);
    background-image: -webkit-linear-gradient(#bbbbbb, #959595);
    background-image: linear-gradient(#bbbbbb, #959595);
}



.wrapper {
    display: inline-block;
    padding: 15px;
    width: 100%;
    margin-bottom: -20px;
}

.overflow-hidden {
    overflow: hidden;
}

.bg-teal {
    background-color: #00000085;
}

.rounded {
    border-radius: 3px !important;
}

.pd-25 {
    padding: 10px;
}

.align-items-center {
    align-items: center !important;
}

.d-flex {
    display: flex !important;
}

.tx-60 {
    font-size: 60px;
}

.lh-0 {
    line-height: 0;
}

.tx-white {
    color: #fff;
}

.op-7 {
    opacity: 0.7;
}

mg-l-20 {
    margin-left: 20px;
}

.tx-uppercase {
    text-transform: uppercase;
}

.tx-spacing-1 {
    letter-spacing: 0.5px;
}

.tx-white-8 {
    color: rgba(255, 255, 255, 0.8);
}



.tx-medium {
    font-weight: 500;
}

.mg-b-10 {
    margin-bottom: 10px;
    font-size: 12px;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

.tx-bold {
    font-weight: 700;
}

.mg-b-2 {
    margin-bottom: 2px;
}

.tx-24 {
    font-size: 24px;
}

.mg-l-20 {
    margin-left: 20px;
}

.bg-danger {
    background-color: #dc3545 !important;
}

.bg-primary {
    background-color: #0866C6 !important;
}

.bg-br-primary {
    background-color: #1D2939;
}


.panel {
    border: none;
    box-shadow: none;
}

.panel {
    /*margin-bottom: 20px;*/
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
    box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
}

.panel-heading {
    bborder-color: #eff2f7;
    font-size: 13px;
    font-weight: 400;
    background: #ededed;
    text-transform: uppercase;
    padding: 15px;
    font-weight: 600;
}

.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}


.pull-right {
    float: right !important;
}

.tools a {
    margin-left: 10px;
    color: #a7a7a7;
    font-size: 12px;
}

.panel-body {
    /* padding: 15px;*/
}


@media screen and (max-width: 480px) {
    .table-collapse-phone {
        display: block;
    }

        .table-collapse-phone caption,
        .table-collapse-phone tbody,
        .table-collapse-phone tr,
        .table-collapse-phone th,
        .table-collapse-phone td {
            display: block;
        }

        .table-collapse-phone thead,
        .table-collapse-phone tfoot {
            display: none;
        }

        .table-collapse-phone tr {
            border-top: 1px solid #ddd;
        }

            .table-collapse-phone tr:first-child {
                border: 0;
            }

        .table-collapse-phone > tbody > tr > th:first-child,
        .table-collapse-phone > tbody > tr > td:first-child {
            border: 0;
        }

        .table-collapse-phone .has-label[data-label] {
            position: relative;
            padding-left: 50% !important;
        }

            .table-collapse-phone .has-label[data-label]:before {
                position: absolute;
                top: 0;
                left: 0;
                padding: 8px;
                content: attr(data-label);
                font-weight: bold;
            }
}

@media screen and (max-width: 768px) {
    .table-collapse-tablet {
        display: block;
    }

        .table-collapse-tablet caption,
        .table-collapse-tablet tbody,
        .table-collapse-tablet tr,
        .table-collapse-tablet th,
        .table-collapse-tablet td {
            display: block;
        }

        .table-collapse-tablet thead,
        .table-collapse-tablet tfoot {
            display: none;
        }

        .table-collapse-tablet tr {
            border-top: 1px solid #ddd;
        }

            .table-collapse-tablet tr:first-child {
                border: 0;
            }

        .table-collapse-tablet > tbody > tr > th:first-child,
        .table-collapse-tablet > tbody > tr > td:first-child {
            border: 0;
        }

        .table-collapse-tablet .has-label[data-label] {
            position: relative;
            padding-left: 50% !important;
        }

            .table-collapse-tablet .has-label[data-label]:before {
                position: absolute;
                top: 0;
                left: 0;
                padding: 8px;
                content: attr(data-label);
                font-weight: bold;
            }
}


.table-responsive {
    overflow: scroll;
}
