﻿
@{
    ViewBag.Title = "Bankdetails";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}
<style>
    .lablehed {
        font-weight: bold;
        color: #737373;
    }

    .p_margin {
        margin-bottom: 7px;
        color: #727070;
    }
    .Bankbox {
        border: 1px solid #ccc;
        padding: 15px;
        border-radius: 3px;       
        background: #cccccc0d;       
    }
</style>
<div class="col-md-12">
    <div class="x_panel">
        <div class="x_title">
            <div class="row">
                <div class="col-sm-12">
                    <h4 class="text-center" style="float:none;">
                        <i class="fa fa-bank"></i>&nbsp;Bank Detials
                    </h4>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="col-sm-12 form-group box-container">
                <div class="col-sm-12 form-group">
                    <div class="col-sm-6">
                        <div class="col-sm-12 Bankbox">
                            <div class="col-sm-2">
                                <img src="~/Content/images/Bank/SBILogo_state-bank-of-india-new.png" style="width:50px;" />
                            </div>
                            <div class="col-sm-10">
                                <label class="lablehed">STATE BANK OF INDIA</label>
                                <p class="p_margin">BENEFICIARY NAME : Richa World Travels</p>
                                <p class="p_margin">BANK NAME : STATE BANK OF INDIA</p>
                                <p class="p_margin">CITY : Ahmedabad</p>
                                <p class="p_margin">BRANCH : BHADRA BRANCH</p>
                                <p class="p_margin">ACCOUNT NO : 33822414764</p>
                                <p class="p_margin">IFSC code : SBIN0060129</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="col-sm-12 Bankbox">
                            <div class="col-sm-2">
                                <img src="~/Content/images/Bank/com.kotakprime.jpg" style="width:50px;" />
                            </div>
                            <div class="col-sm-10">
                                <label class="lablehed">KOTAK BANK LTD</label>
                                <p class="p_margin">BENEFICIARY NAME : Richa World Travels</p>
                                <p class="p_margin">BANK NAME : KOTAK BANK LTD</p>
                                <p class="p_margin">CITY : Ahmedabad</p>
                                <p class="p_margin">BRANCH : ASHRAM ROAD</p>
                                <p class="p_margin">ACCOUNT NO : 5711439583</p>
                                <p class="p_margin">IFSC code : KKBK0002562</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 form-group">
                    <div class="col-sm-6">
                        <div class="col-sm-12 Bankbox">
                            <div class="col-sm-2">
                                <img src="~/Content/images/Bank/ICICI-Bank-PNG-Icon-715x715.png" style="width:50px;" />
                            </div>
                            <div class="col-sm-10">
                                <label class="lablehed">ICICI BANK</label>
                                <p class="p_margin">BENEFICIARY NAME : Richa World Travels</p>
                                <p class="p_margin">BANK NAME : ICICI BANK LTD 1</p>
                                <p class="p_margin">CITY : Ahmedabad</p>
                                <p class="p_margin">BRANCH : Khoraj</p>
                                <p class="p_margin">ACCOUNT NO : 271105000050</p>
                                <p class="p_margin"> IFSC code : ICIC0002711</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="col-sm-12 Bankbox">
                            <div class="col-sm-2">
                                <img src="~/Content/images/Bank/Hdfc-Logo.png" style="width:50px;" />
                            </div>
                            <div class="col-sm-10">
                                <label class="lablehed">HDFC BANK </label>
                                <p class="p_margin">BENEFICIARY NAME : Richa World Travels</p>
                                <p class="p_margin">BANK NAME : HDFC BANK</p>
                                <p class="p_margin">CITY : Ahmedabad</p>
                                <p class="p_margin">BRANCH : Mithakhali Six Road</p>
                                <p class="p_margin">ACCOUNT NO : 00062000025631</p>
                                <p class="p_margin">IFSC code : HDFC0000006</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 form-group">
                    <div class="col-sm-6">
                        <div class="col-sm-12 Bankbox">
                            <div class="col-sm-2">
                                <img src="~/Content/images/Bank/Axis-Bank-Logo.png" style="width:50px;" />
                            </div>
                            <div class="col-sm-10">
                                <label class="lablehed">AXIS BANK </label>
                                <p class="p_margin">BENEFICIARY NAME : Richa World Travels</p>
                                <p class="p_margin">BANK NAME : AXIS BANK</p>
                                <p class="p_margin">CITY : Ahmedabad</p>
                                <p class="p_margin">BRANCH : LAW GARDEN BRANCH</p>
                                <p class="p_margin">ACCOUNT NO : 003010200028680</p>
                                <p class="p_margin">IFSC code : UTIB0000003</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="col-sm-12 Bankbox">
                            <div class="col-sm-2">
                                <img src="~/Content/images/Bank/Boi-Logo-1.png" style="width:50px;" />
                            </div>
                            <div class="col-sm-10">
                                <label class="lablehed">BANK OF INDIA</label>
                                <p class="p_margin">BENEFICIARY NAME : Richa World Travels</p>
                                <p class="p_margin">BANK NAME : BANK OF INDIA</p>
                                <p class="p_margin">CITY : Ahmedabad</p>
                                <p class="p_margin">BRANCH : NAVRANGPURA</p>
                                <p class="p_margin">ACCOUNT NO : 200920100002992</p>
                                <p class="p_margin">IFSC code : BKID0002009</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

