﻿@model ModelLibrary.UploadModel
@{
    ViewBag.Title = "CashInFlow";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}
<link href="~/Content/css/DatePickerMYcss.css" rel="stylesheet" />
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

<div class="col-md-12">
    <div class="x_panel">
     
        <div class="x_content">

            <section class="wrapper">
                <div class="row">
                    <div class="col-sm-12">
                        <section class="panel">
                            <header class="panel-heading">
                                CashInFlow Report

                            </header>
                            <div class="panel-body" style="padding:15px;">
                                @using (Html.BeginForm())
                                {
                                    <div class="row form-group">
                                        <div class="col-sm-12 form-group">
                                            <div class="col-sm-2">

                                                @Html.TextBoxFor(p => p.FromDate, new { @class = "form-control CommanDate", placeholder = "From Date", autocomplete = "off" })
                                            </div>
                                            <div class="col-sm-2">

                                                @Html.TextBoxFor(p => p.ToDate, new { @class = "form-control CommanDate", placeholder = "To Date", autocomplete = "off" })
                                            </div>
                                            <div class="col-sm-2">

                                                @Html.DropDownListFor(model => model.UploadType, new SelectList(new List<Object>{
                                                         new { value = "" , text = "--Upload Type--" },
                                                        new { value = "CA" , text = "Cash" },
                                                        new { value = "CR" , text = "Credit"},
                                                          new { value = "CC" , text = "Card"},
                                                     }, "value", "text"), new { @class = "form-control" })
                                            </div>
                                            <div class="col-sm-2">

                                                @Html.DropDownListFor(model => model.flowType, new SelectList(new List<Object>{
                                                        new { value = "" , text = "Flow Type" },
                                                        new { value = "InFlow" , text = "InFlow" },
                                                        new { value = "OutFlow" , text = "OutFlow"},
                                                     }, "value", "text"), new { @class = "form-control" })
                                            </div>
                                            <div class="col-sm-2">
                                                <input type="submit" class="btn btn-success form-control maincss" style="cursor:pointer;" onclick="return CheckForm()" value="SEARCH RESULT" />
                                                <span class="btn btn-success form-control tempscss hidden" >PLEASE WAIT..<i class="fa fa-spinner fa-spin"></i></span>
                                            </div>
                                        </div>

                                    </div>
                                }
                            </div>
                        </section>
                    </div>
                </div>
            </section>



            <section class="wrapper">
                <div class="row">
                    <div class="col-sm-12">
                        <section class="panel">
                            <header class="panel-heading">
                                <i class="icofont-search-document"></i>  Report
                                <span class="tools pull-right">


                                    @using (Html.BeginForm(@*"action method", "Controllername", FormMethod.Post*@))
{
                                <button style="cursor:pointer;"><span class="fa fa-file-excel-o"></span> EXPORT</button>
                            }
                                </span>
                            </header>
                            <div class="panel-body table-responsive" style="overflow:scroll;">
                                <table class="table table-collapse-phone" cellspacing="0" width="100%" ShowHeaderWhenEmpty="true">
                                    <thead>
                                        <tr>
                                            <th class="sticky-header">Invoice No.</th>
                                            <th>Agent Id</th>
                                            @*<th>Agency Name </th>*@
                                            <th>Amount</th>
                                            <th>Upload Type</th>
                                            <th>Remark</th>
                                            <th>Updated Remark</th>
                                            <th>Created Date </th>
                                            <th>Salesexec Id</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model.Totalcount > 0)
                                        {
                                            foreach (var item in Model.UploadDetialsList)
                                            {
                                                <tr>
                                                    <td class="sticky-row">@item.InvoiceNo</td>
                                                    <td>@item.AgencyID</td>
                                                    @*<td>@item.AgencyName</td>*@
                                                    <td>@item.Amount</td>
                                                    <td>@item.UploadType</td>
                                                    <td>@item.Remark</td>
                                                    <td>@item.UpdatedRemark</td>
                                                    <td>@item.CreatedDate</td>
                                                    <td>@item.SalesExecID</td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                            </section>
                        </div>
                    </div>
                </section>
                    </div>
                </div>
        </div>

<script src="~/Content/js/loginpage/DatePicker.js"></script>
<script>
    function CheckForm() {
        $('.maincss').addClass('hidden');
        $('.tempscss').removeClass('hidden');
    }
</script>

