﻿@model ModelLibrary.UploadRequest
@{
    ViewBag.Title = "ReportUploadRequest";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}

@section header
{
    <link href="~/Content/css/DatePickerMYcss.css" rel="stylesheet" />
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
}

<div class="col-md-12 col-sm-12">
    <div class="x_panel">       
        <div class="x_content">
            <section class="wrapper">
                <div class="row">
                    <div class="col-sm-12">
                        <section class="panel">
                            <header class="panel-heading">
                                <i class="icofont-search-document"></i>  Uploaded Report
                                <span class="tools pull-right">
                                    <a href="/backoffice/wallet/uploadrequest" class="btn btn-success" style="cursor: pointer; margin-top: -6px; color: #fff; line-height: 0; border: none;"><span class="icofont-upload-alt"></span> Upload Request</a>
                                </span>
                            </header>
                            <div class="panel-body" style="padding:15px;">
                                @using (Html.BeginForm("ReportUploadRequest", "Wallet"))
                                {
                                    <div class="row form-group">
                                        <div class="col-sm-12 form-group">
                                            <div class="col-sm-2">

                                                @Html.TextBoxFor(p => p.FilterFromDate, new { @class = "form-control CommanDate", placeholder = "From Date", @readonly = "readonly" })
                                            </div>
                                            <div class="col-sm-2">

                                                @Html.TextBoxFor(p => p.FilterToDate, new { @class = "form-control CommanDate", placeholder = "To Date", @readonly = "readonly" })
                                            </div>
                                            <div class="col-sm-3">

                                                @Html.DropDownListFor(model => model.FilterPaymentType, new SelectList(new List<Object>{
                                                         new { value = "" , text = "--Payment Type--" },
                                                        new { value = "Cash" , text = "Cash" },
                                                        new { value = "Cash Deposite In Bank" , text = "Cash Deposite In Bank"},
                                                          new { value = "NetBanking" , text = "NetBanking"},
                                                          new { value = "RTGS" , text = "RTGS"},
                                                     }, "value", "text"), new { @class = "form-control" })
                                            </div>
                                            <div class="col-sm-3">

                                                @Html.DropDownListFor(model => model.FilterStatus, new SelectList(new List<Object>{
                                                         new { value = "" , text = "--Status--" },
                                                        new { value = "Pending" , text = "Pending" },
                                                        new { value = "InProcess" , text = "InProcess"},
                                                          new { value = "Confirm" , text = "Confirm"},
                                                          new { value = "Rejected" , text = "Rejected"},
                                                     }, "value", "text"), new { @class = "form-control" })
                                            </div>
                                            <div class="col-sm-2">
                                                <input type="submit" class="btn btn-success form-control" style="cursor:pointer;margin-top:1px;" id="btnSearch" value="SEARCH" onclick="return FilterSearch();" />
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </section>
                    </div>
                </div>
            </section>
            <section class="wrapper">
                <div class="row">
                    <div class="col-sm-12">
                        <section class="panel">
                            <header class="panel-heading">
                                <i class="icofont-search-document"></i>  Ticket Report
                                @*<span class="tools pull-right">
                                    <button style="cursor:pointer;"><span class="icofont-file-excel"></span> Export</button>
                                </span>*@
                            </header>
                            <div class="panel-body table-responsive" style="overflow:scroll;">
                                <table class="table table-collapse-phone" cellspacing="0" width="100%" ShowHeaderWhenEmpty="true">
                                    <thead>
                                        <tr>
                                            <th>Deposite Date</th>
                                            @*<th>Agency Name	</th>*@
                                            <th>User_Id</th>
                                            <th>Amount</th>
                                            <th>Mode Of Payment</th>
                                            <th>Bank Name</th>
                                            <th>Cheque No</th>
                                            <th>Cheque Date</th>
                                            <th>Transaction Id</th>
                                            <th>Bank Area Code</th>
                                            <th>Deposite City</th>
                                            <th>Deposite Office</th>
                                            <th>Concern Person</th>
                                            <th>Reciept No</th>
                                            <th>Remark</th>
                                            <th>Status</th>
                                            <th>Remark By Account</th>
                                            <th>Account Id</th>
                                            <th>Created Date</th>
                                        </tr>
                                    </thead>
                                    <tbody style="text-align:center;">
                                        @if (Model.Totalcount > 0)
                                        {
                                            foreach (var item in Model.UploadDetialsList)
                                            {
                                                <tr>
                                                    <td>@item.DepositeDate</td>
                                                    @*<td>@item.AgencyName</td>*@
                                                    <td>@item.AgencyID</td>
                                                    <td>@item.Amount</td>
                                                    <td>@item.ModeOfPayment</td>
                                                    <td>@item.BankName</td>
                                                    <td>@item.ChequeNo</td>
                                                    <td>@item.ChequeDate</td>
                                                    <td>@item.TransactionID</td>
                                                    <td>@item.BankAreaCode</td>
                                                    <td>@item.DepositCity</td>
                                                    <td>@item.DepositeOffice</td>
                                                    <td>@item.ConcernPerson</td>
                                                    <td>@item.RecieptNo</td>
                                                    <td>@item.Remark</td>
                                                    @if (item.Status == "Pending")
                                                    {
                                                        <td><span style="color:orange;">@item.Status</span></td>
                                                    }
                                                    else
                                                    {
                                                        <td>@item.Status</td>
                                                    }
                                                    <td>@item.RemarkByAccounts</td>
                                                    <td>@item.AccountID</td>
                                                    <td>@item.Date</td>
                                                </tr>
                                            }
                                        }
                                        else
                                        {
                                            <tr class="no-records-found text-danger"><td colspan="19">No matching records found</td></tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </section>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

@section footer
{
    <script src="~/Content/js/loginpage/DatePicker.js"></script>
    <script src="~/Content/js/custom/uploadrequest.js"></script>
    <script src="~/Content/js/progressbar.js"></script>
}

