﻿@model ModelLibrary.UploadModel
@{
    ViewBag.Title = "UploadRequestStatus";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}
<link href="~/Content/css/DatePickerMYcss.css" rel="stylesheet" />
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<style>
    .wrapper {
        position: relative;
        overflow: auto;
        border: 1px solid black;
        white-space: nowrap;
    }

    .sticky-col {
        position: sticky;
        position: -webkit-sticky;
        background-color: #ececec;
    }

    .first-col {
        width: 140px;
        min-width: 140px;
        max-width: 140px;
        left: 0px;
    }
</style>
@{
    Agency_Backoffice.Models.LoginSessionDetails lu = new Agency_Backoffice.Models.LoginSessionDetails();
    if (Agency_Backoffice.Service.AccountService.GetLoginSession(ref lu))
    {
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_title">
                    <div class="row">
                        <div class="col-sm-6">
                            <h2>
                                <i class="fa fa-list"></i>&nbsp;Upload Amount Report List
                            </h2>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="col-sm-12 form-group" style="border: 1px solid #ccc;padding: 6px;background-color: #ececec;">
                        @using (Html.BeginForm())
                        {
                        <div class="row form-group">
                            <div class="col-sm-12 form-group">
                                <div class="col-sm-3">
                                    <label>From</label>
                                    @Html.TextBoxFor(p => p.FromDate, new { @class = "form-control CommanDate", placeholder = "dd/mm/yyy" })
                                </div>
                                <div class="col-sm-3">
                                    <label>To</label>
                                    @Html.TextBoxFor(p => p.ToDate, new { @class = "form-control CommanDate", placeholder = "dd/mm/yyy" })
                                </div>
                                <div class="col-sm-3">
                                    <label>Payment Type</label>
                                    @Html.DropDownListFor(model => model.PaymentType, new SelectList(new List<Object>{
                                             new { value = "" , text = "--Select--" },
                                            new { value = "Cash" , text = "Cash" },
                                            new { value = "Cash Deposite In Bank" , text = "Cash Deposite In Bank"},
                                              new { value = "NetBanking" , text = "NetBanking"},
                                              new { value = "RTGS" , text = "RTGS"},
                                         }, "value", "text"), new { @class = "form-control" })
                                </div>
                                <div class="col-sm-3">
                                    <label>Status</label>
                                    @Html.DropDownListFor(model => model.Status, new SelectList(new List<Object>{
                                             new { value = "" , text = "--Select--" },
                                            new { value = "Pending" , text = "Pending" },
                                            new { value = "InProcess" , text = "InProcess"},
                                              new { value = "Confirm" , text = "Confirm"},
                                              new { value = "Rejected" , text = "Rejected"},
                                         }, "value", "text"), new { @class = "form-control" })
                                </div>
                            </div>
                            @if (lu.AgentRegisterSession.User_Type == "DI")
                            {
                                <div class="col-sm-3">
                                    @Html.TextBoxFor(p => p.AgencyName, new { @class = "form-control", placeholder = "AgencyName.." })
                                </div>
                            }
                            <div class="col-sm-12 form-group">
                                <div class="col-sm-3">
                                    <input type="submit" class="btn btn-success form-control maincss" style="cursor:pointer;margin-top:24px;" onclick="return CheckForm()" value="SEARCH RESULT" />
                                    <span class="btn btn-success form-control tempscss hidden" style="margin-top:24px;">PLEASE WAIT..<i class="fa fa-spinner fa-spin"></i></span>
                                </div>
                                <div class="col-sm-3">
                                    <button class="btn btn-dark form-control" style="cursor:pointer; margin-top:24px;"><span class="fa fa-file-excel-o"></span> EXPORT</button>
                                </div>
                            </div>
                        </div>
                        }
                    </div>
                    <div class="col-sm-12 container wrapper">
                        <table class="table table-bordered table-hover" data-toggle="table">
                            <thead>
                                <tr>
                                    <th>TRANSACTION DATE</th>
                                    <th>AGENCY NAME	</th>
                                    <th>USER_ID</th>
                                    <th>AMOUNT</th>
                                    <th>MODEOFPAYMENT</th>
                                    <th>BANK NAME</th>
                                    <th>CHEQUENO</th>
                                    <th>CHEQUE DATE</th>
                                    <th>TRANSACTIONID</th>
                                    <th>BANK AREA CODE</th>
                                    <th>DEPOSIT CITY</th>
                                    <th>DEPOSITE OFFICE</th>
                                    <th>CONCERN PERSON</th>
                                    <th>RECIEPT NO</th>
                                    <th>REMARK</th>
                                    <th>STATUS</th>
                                    <th>REMARK BY ACCOUNT</th>
                                    <th>ACCOUNT ID</th>
                                </tr>
                            </thead>
                            <tbody style="text-align:center;">
                                @if (Model.Totalcount > 0)
                                {
                                    foreach (var item in Model.UploadDetialsList)
                                    {
                                        <tr>
                                            <td>@item.Date</td>
                                            <td>@item.AgencyName</td>
                                            <td>@item.AgencyID</td>
                                            <td>@item.Amount</td>
                                            <td>@item.ModeOfPayment</td>
                                            <td>@item.BankName</td>
                                            <td>@item.ChequeNo</td>
                                            <td>@item.ChequeDate</td>
                                            <td>@item.TransactionID</td>
                                            <td>@item.BankAreaCode</td>
                                            <td>@item.DepositCity</td>
                                            <td>@item.DepositeOffice</td>
                                            <td>@item.ConcernPerson</td>
                                            <td>@item.RecieptNo</td>
                                            <td>@item.Remark</td>
                                            @if (item.Status == "Pending")
                                            {
                                                <td><span style="color:orange;">@item.Status</span></td>
                                            }
                                            else
                                            {
                                                <td>@item.Status</td>
                                            }
                                            <td>@item.RemarkByAccounts</td>
                                            <td>@item.AccountID</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    }
 }
        <script src="~/Content/js/loginpage/DatePicker.js"></script>
        <script>
            function CheckForm() {
                $('.maincss').addClass('hidden');
                $('.tempscss').removeClass('hidden');
            }
        </script>

