﻿@using ModelLibrary;
<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@Config.WebsiteName</title>
    <link href="~/Content/css/loginpage/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/Content/css/custom.min.css" rel="stylesheet" />
    <link href="~/Content/css/validation.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrap-table.css" rel="stylesheet" />
    <script src="~/Content/js/jquery.min.js"></script>
    <script src="~/Content/js/bootstrap-table.js"></script>
    <script src="~/Content/js/custom/commonfile.js"></script>
    <link href="~/Content/css/custom.css" rel="stylesheet" />
    <link href="~/Content/css/responsive.css" rel="stylesheet" />
    <link href="~/Content/css/custom-new.css" rel="stylesheet" />
    <link href="~/Content/icofont/icofont.css" rel="stylesheet" />
    <link href="~/Content/icofont/icofont.min.css" rel="stylesheet" />
    <link href="~/Content/css/paxdetails.css" rel="stylesheet" />


    <style>
        .ed-home {
        }

        .com-fir-sp-top {
        }

        .ed-top {
            background: #2A3F54;
            border-bottom: 1px solid #e0e0e0;
        }

        .ed-com-t1-left {
        }

            .ed-com-t1-left ul {
                margin-bottom: 0px;
            }

                .ed-com-t1-left ul li {
                    float: left;
                    display: inline-block;
                }

                    .ed-com-t1-left ul li a {
                        color: #7a8088;
                        padding: 5px 14px;
                        line-height: 34px;
                        /*border-right: 1px solid #e7ebef;*/
                        font-size: 14.5px;
                    }

        .ed-com-t1-right {
            float: right;
        }

            .ed-com-t1-right ul {
            }

                .ed-com-t1-right ul li {
                    float: left;
                    display: inline-block;
                }

                    .ed-com-t1-right ul li a {
                        color: #fff;
                        padding: 7px 12px;
                        line-height: 34px;
                        font-size: 12px;
                    }

                    .ed-com-t1-right ul li:nth-child(1) a {
                        background: #f4364f;
                        background: linear-gradient(to bottom,#f4364f,#dc2039);
                    }

                    .ed-com-t1-right ul li:nth-child(2) a {
                        background: #2d5d73;
                    }

        .dropdown-menu {
            top: 22px !important;
            left: -35px !important;
        }
    </style>




    @RenderSection("header", false)
</head>

<body class="nav-md">

    <div class="main_container">
        @{
            Agency_Backoffice.Models.AgencyLoginSession lu = new Agency_Backoffice.Models.AgencyLoginSession();
            if (!Agency_Backoffice.Service.AccountService.IsAgencyLogin(ref lu))
            {
                if (Agency_Backoffice.Service.AccountService.LogoutBackendLogin())
                {
                    Response.Redirect("/");
                }
            }

            <header class="navbar navbar-custom header" id="header">
                <div class="navbar-expand">
                    <div class="header-top">
                        <div class="container">
                            <div class="top-line">
                                <div class="row align-items-center">
                                    <div class="col-sm-8">
                                        <div class="top-left-link float-md-left">
                                            <ul class="d-flex align-items-center  justify-content-center">
                                                <li>
                                                    <div class="select-dropdown language-currency">
                                                        <div class="drop-option">
                                                            <div class="drop-list" style="display:flex;">
                                                                <span><i class="icofont-send-mail"></i>  Mail Us : @lu.CompanyEmailId</span>&nbsp;&nbsp;
                                                                <span><i class="icofont-phone"></i>  Call Us : @lu.CompanyContactNo</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="top-right-link float-sm-right d-none d-sm-block" style="float: right;">
                                            <ul>

                                                <li class="register-icon">
                                                    <a title="Balance" style="color:#fff;">
                                                        <i class="icofont-wallet"></i>Total Balance : ₹ <span id="blc">@lu.Balance/-&nbsp;</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="header-middle">
                        <div class="container">
                            <div class="row no-gutters align-items-center">
                                <div class="col-lg-9">
                                    <div class="header-middle-left">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col-lg-3">
                                                <div class="logo navbar-header float-none-sm">
                                                    @if (lu.Status != "DI")
                                                    {
                                                        <a class="navbar-brand page-scroll" href="@lu.FrontSearchWebUrl.ToString()">
                                                            <img alt="testtravel" src="~/Content/images/logo(ft).png" />
                                                        </a>
                                                    }
                                                    else
                                                    {
                                                        <a class="navbar-brand page-scroll" href="@lu.ApplicationUrl/dashboard">
                                                            <img alt="testtravel" src="~/Content/images/logo(ft).png" />
                                                        </a>
                                                    }
                                                </div>
                                            </div>
                                            <div class="col-lg-9">
                                                <div class="overlay"></div>
                                                <div id="menu" class="navbar-collapse collapse justify-content-center">
                                                    <ul id="menu-main" class="nav navbar-nav">
                                                        @if (lu.Status == "DI")
                                                        {
                                                            <li class="level">
                                                                <a class="page-scroll" style="visibility: hidden;" href="@lu.ApplicationUrl/dashboard">Dashboard</a>
                                                            </li>

                                                        }
                                                        else
                                                        {
                                                            <li class="level">
                                                                <a class="page-scroll" href="/flight-search">Home</a>
                                                            </li>
                                                            <li class="level">
                                                                <a class="page-scroll" href="/flight-search">Flight</a>
                                                            </li>
                                                            <li class="level">
                                                                <a class="page-scroll" href="javascript: return false;">Bus</a>
                                                            </li>
                                                            <li class="level">
                                                                <a class="page-scroll" href="/cargo">Air Cargo</a>
                                                            </li>
                                                            <li class="level">
                                                                <a class="page-scroll" href="javascript: return false;">Insurance</a>
                                                            </li>
                                                        }
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="header-middle-right">
                                        <div class="navbar-collapse collapse justify-content-center">
                                            <ul class="nav navbar-nav">
                                                <li class="level dropdown">
                                                    <div class="theme-account-avatar">
                                                        <img class="theme-account-avatar-img" src="@lu.Image_Url" alt="..." />
                                                        @*<a class="page-scroll" href="@lu.FrontSearchWebUrl">
                                                            </a>*@
                                                        <a class="page-scroll" href="#">
                                                            <p class="theme-account-avatar-name">
                                                                @lu.Agency_Name
                                                                <br>@lu.AgencyId
                                                            </p>
                                                        </a>
                                                    </div>

                                                    <div class="megamenu mobile-sub-menu">
                                                        <div class="megamenu-inner-top">
                                                            <ul class="sub-menu-level1">
                                                                <li>
                                                                    <div style="border: 1px solid #eee;background-color: #c5c5c5;margin-left: 10px;margin-right: 10px;border-radius: 10px;">
                                                                        <ul>
                                                                            <li>
                                                                                <a href="#" title="Due">
                                                                                    <i class="icofont-holding-hands"></i> Due: ₹<span id="DueAmt">@lu.DueAmount/-</span>
                                                                                </a>
                                                                            </li>
                                                                            <li>
                                                                                <a href="#" title="Credit Limit">
                                                                                    <i class="icofont-credit-card"></i>  Credit Limit:  ₹<span id="CrdLimit">@lu.Crd_Limit/-</span>
                                                                                </a>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </li>
                                                                <li>
                                                                    <a href="@lu.ApplicationUrl/wallet/uploadrequest"><span></span>Upload Money</a>
                                                                </li>
                                                                <li>
                                                                    <a href="@lu.ApplicationUrl/account/agentprofile"><span></span>Manage Profile</a>
                                                                </li>                                                              
                                                                @if (lu.Status != "DI")
                                                                {
                                                                    <li>
                                                                        <a id="btnAgencyLogout" href="#" onclick="Logout();"><i class="icofont-power"></i>&nbsp;Signout</a>
                                                                    </li>
                                                                }
                                                                else
                                                                {
                                                                    <li>
                                                                        <a id="btnLogout" href="@lu.ApplicationUrl/Login.aspx"><i class="icofont-power"></i>&nbsp;Signout</a>
                                                                    </li>
                                                                }
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>

                                        <div class="header-contact-info d-none d-lg-block" style="display:none !important; ">
                                            <span><i class="icofont-business-man-alt-1" style="font-size: 20px;line-height: 27px;"></i></span>
                                            <h3>Test Travel</h3>
                                            <p class="m-0" style="color: #bdbdbd;">B2B001</p>
                                        </div>
                                        <div class="right-side header-right-link">
                                            <ul>
                                                <li class="side-toggle">
                                                    <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button"><i class="fas fa-bars"></i></button>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>

            <div class="col-md-3 left_col menu_fixed mCustomScrollbar _mCS_1 mCS-autoHide" style="overflow: auto;">
                <div class="left_col scroll-view" style="width: 100%;">

                    <div class="profile clearfix" style="display:none;">
                        <div class="profile_pic">
                            @*@{
                                    lu.Image_Url = "/Content/images/CompanyLogo/" + lu.User_Id + "/" + (lu.User_Id + ".jpeg");
                                }*@
                            <a href="@lu.FrontSearchWebUrl">
                                <img src="@lu.Image_Url" alt="..." style="width: 220px;" />
                            </a>
                        </div>
                        @*<div class="profile_info" style="border-bottom: 1px solid #fff;">
                                <a href="@lu.FrontSearchWebUrl">
                                    <span>Welcome,</span>
                                    <h2>@lu.Agency_Name</h2>
                                </a>
                            </div>*@
                    </div>
                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section" @*style="border-bottom:1px solid #ccc;"*@>
                            <ul class="nav side-menu">
                                <li>
                                    <a href="@lu.ApplicationUrl/dashboard"><i class="fa fa-home"></i> Dashboard</a>
                                </li>
                                <li>
                                    <a><i class="fa fa-plane fa-lg"></i> Flight <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="@lu.ApplicationUrl/FlightReport/TicketReport">Booking History</a></li>
                                        <li><a href="@lu.ApplicationUrl/FlightReport/FlightTravelCalender">Travel Calendar</a></li>
                                        <li><a href="@lu.ApplicationUrl/FlightReport/RefundReport">PNR Refund Detials</a></li>
                                        <li><a href="@lu.ApplicationUrl/FlightReport/ReissuesReport">Date Change Report</a></li>
                                        <li><a href="@lu.ApplicationUrl/FlightReport/HoldPNRReport">Booking On Hold </a></li>
                                        <li><a href="@lu.ApplicationUrl/FlightReport/TicketStatusReport">Booking Detials</a></li>
                                        @*<li><a href="#">Import PNR</a></li>*@
                                        @if (lu.Status != "DI")
                                        {
                                            <li><a href="@lu.ApplicationUrl/FlightReport/OfflineRequest">Offline Booking Request</a></li>
                                            <li><a href="@lu.ApplicationUrl/FlightReport/OfflineRequestList">Offline Booking Status</a></li>
                                        }
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-bus fa-lg"></i> Bus <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="@lu.ApplicationUrl/bus/bus-report">Bus Booking Detials</a></li>
                                        <li><a href="@lu.ApplicationUrl/bus/bus-refund-report">Bus Refund Detials</a></li>
                                        <li><a href="@lu.ApplicationUrl/bus/bus-reject-report">Bus Reject Booking</a></li>
                                        <li><a href="@lu.ApplicationUrl/bus/bus-hold-pnr-report">Bus Pnr on Hold</a></li>
                                    </ul>
                                </li>
                                @if(!string.IsNullOrEmpty(lu.IrctcId.Trim())){
                                <li>
                                    <a><i class="fa fa-train"></i> Rail <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="@lu.ApplicationUrl/rail/rail-report">Rail Report</a></li>
                                    </ul>
                                </li>
                                }
                                <li>
                                    <a><i class="fa fa-calculator fa-lg"></i> Accounts <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="@lu.ApplicationUrl/account/ledgerreport?type=passbook">Ledger</a></li>
                                        @if (lu.Status != "DI")
                                        {
                                            <li><a href="@lu.ApplicationUrl/Account/StaffTransaction">Staff Transaction History</a></li>
                                        }
                                        <li><a href="@lu.ApplicationUrl/Account/DomSaleRegister">Dom. Sale Register</a></li>
                                        <li><a href="@lu.ApplicationUrl/Account/IntlSaleRegister">Intl. Sale Register</a></li>
                                    </ul>
                                </li>
                                @if (lu.Status != "DI")
                                {
                                    @*<li>
                <a><i class="fa fa-inr fa-lg"></i> Money Transfer <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="@lu.ApplicationUrl/moneytransfer/money-transfer-report">Money Transfer Report</a></li>
                </ul>
            </li>

            <li>
                <a><i class="fa fa-recycle fa-lg"></i> Recharge <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="@lu.ApplicationUrl/rechange/rechange-report">Recharge Report</a></li>
                </ul>
            </li>*@
                                }
                                <li>
                                    <a><i class="fa fa-google-wallet fa-lg"></i> Wallet <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="@lu.ApplicationUrl/wallet/uploadrequest">Upload Request</a></li>
                                        <li><a href="@lu.ApplicationUrl/wallet/upload-report">Upload Request Report</a></li>
                                        @*@if (lu.Status != "DI")
                {
                    <li><a href="@lu.ApplicationUrl/Wallet/CashInFlow">CashInFlow Report</a></li>
                }*@
                                        <li><a href="@lu.ApplicationUrl/Wallet/Bankdetails">Bank Details</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-upload fa-lg"></i> Upload <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        @if (lu.Status == "DI")
                                        {
                                            <li><a href="@lu.ApplicationUrl/Account/AgentDetail">Agent Detail</a></li>
                                            <li><a href="@lu.ApplicationUrl/Account/AddDistrAgent">Add Agent </a></li>
                                            <li><a href="@lu.ApplicationUrl/Account/Creditlimithistory">Credit Limit History</a></li>
                                        }
                                        <li><a href="@lu.ApplicationUrl/upload/add-bank">Add Bank Details</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-cog fa-lg"></i> Setting <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="@lu.ApplicationUrl/setting/agent-markup-dom">Dom. Airline Markup</a></li>
                                        <li><a href="@lu.ApplicationUrl/setting/agent-markup-int">Intl. Airline Markup</a></li>
                                        <li><a href="@lu.ApplicationUrl/setting/NewExecutive">Add Staff</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="@lu.ApplicationUrl/account/agentprofile"><i class="fa fa-user fa-lg"></i> Profile</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- /sidebar menu -->
                </div>
            </div>

            <div class="top_nav" style="display:none;">
                <div class="nav_menu">
                    <div class="nav toggle">
                        <a id="menu_toggle"><i class="fa fa-bars" style="color:#fff;"></i></a>
                    </div>
                    <nav class="nav navbar-nav">
                        <ul class=" navbar-right">
                            <li class="nav-item dropdown open" style="padding-left: 15px;">
                                <a href="javascript:;" class="user-profile dropdown-toggle" aria-haspopup="true" id="navbarDropdown" data-toggle="dropdown" aria-expanded="false">
                                    <img src="~/Content/images/user.png" alt="">
                                </a>
                                <div class="dropdown-menu dropdown-usermenu pull-right" aria-labelledby="navbarDropdown" style="left: 30px !important; width: 160px !important;">
                                    <a class="dropdown-item" href="@lu.FrontSearchWebUrl" style="border-bottom: 1px solid #ccc;"> Flight Search</a>
                                    <a class="dropdown-item" href="@lu.ApplicationUrl/Account/AgentProfile" style="border-bottom: 1px solid #ccc;"> Profile</a>
                                    @*<a class="dropdown-item" href="javascript:;">
                                            <span class="badge bg-red pull-right">50%</span>
                                            <span>Settings</span>
                                        </a>
                                        <a class="dropdown-item" href="javascript:;">Help</a>*@
                                    <span class="dropdown-item" style="cursor:pointer;" onclick="Logout();"><i class="fa fa-sign-out pull-right"></i> Log Out</span>
                                </div>
                            </li>

                            <li role="presentation" class="nav-item dropdown open" style="color:#fff;">
                                Balance: <span id="blc12" style=" display: inline;"> @lu.Balance/-</span>&nbsp;|&nbsp;
                                Credit Limit:  <span id="CrdLimit1"> @lu.Crd_Limit/-</span>&nbsp;|&nbsp;
                                Due: <span id="DueAmt1"> @lu.DueAmount/-</span>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>

            <div class="right_col" role="main" style="margin-top: 131px;">
                <div class="row SaurabhSuman subformstart">
                    @RenderBody()
                    <div class="clearfix"></div><br />
                </div>
            </div>


            <button type="button" class="btn btn-info btn-lg successmessage hidden" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#SuccessMsg"></button>
            <div class="modal fade" id="SuccessMsg" role="dialog">
                <div class="modal-dialog modal-md" style="margin:15% auto!important;">
                    <!-- Modal content-->
                    <div class="modal-content" style="text-align: center;border-radius: 5px !important;">
                        <div class="modal-header" style="padding: 12px;">
                            <h5 class="modal-title succmodelheading"></h5>
                        </div>
                        <div class="modal-body" style="padding-left:20px!important;">
                            <h6 class="succmodelcontent"></h6>
                        </div>
                        <div class="modal-footer" id="CommonFooterSection">
                            <button type="button" class="btn btn-danger" id="ModelPoupDismiss" data-dismiss="modal">OK</button>
                        </div>
                    </div>
                </div>
            </div>
            @*<footer>
                    <div class="text-right">

                        Test Demo
                    </div>
                    <div class="clearfix"></div>
                </footer>*@
        }
    </div>


    <script src="~/Content/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/js/custom.min.js"></script>
    <link href="~/Content/css/summernote.css" rel="stylesheet" />
    <script src="~/Content/js/summernote.js"></script>
    <script src="~/Content/js/custom/login.js"></script>
    <script src="~/Content/js/common.js"></script>
    <script>
        $('.summernote').summernote({
            height: 300
        });

        $('.summernote1').summernote({
            height: 200
        });
    </script>

    @*<script>
            $(document).ready(function () {
                $('.table').DataTable({
                    //disable sorting on last column
                    "columnDefs": [
                        { "orderable": false, "targets": 5 }
                    ],
                    language: {
                        //customize pagination prev and next buttons: use arrows instead of words
                        'paginate': {
                            'previous': '<span class="fa fa-chevron-left"></span>',
                            'next': '<span class="fa fa-chevron-right"></span>'
                        },
                        //customize number of elements to be displayed
                        "lengthMenu": 'Display <select class="form-control input-sm">' +
                            '<option value="10">10</option>' +
                            '<option value="20">20</option>' +
                            '<option value="30">30</option>' +
                            '<option value="40">40</option>' +
                            '<option value="50">50</option>' +
                            '<option value="-1">All</option>' +
                            '</select> results'
                    }
                })
            });
        </script>*@

    @RenderSection("footer", false)
</body>
</html>
