﻿
<button type="button" class="btn btn-info btn-lg hidden reissuerefundclass" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#ReIssueReFundClick">Click</button>
<div class="modal fade" id="ReIssueReFundClick" role="dialog">
    <div class="modal-dialog modal-lg" style="margin:13% auto!important;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title reissuerefundheading"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4 col-sm-12 form-group">
                        <label>PNR: <span style="font-weight:100;" id="lblPnr">PNR</span></label>
                    </div>
                    <div class="col-md-4 col-sm-12 form-group">
                        <label>Ticket No: <span style="font-weight:100;" id="lblTicketNo">Ticket</span></label>
                    </div>
                    <div class="col-md-4 col-sm-12 form-group">
                        <label>Pax Name: <span style="font-weight:100;" id="lblPaxName">Pax</span></label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 col-sm-12 form-group">
                        <label>Remark:</label>
                    </div>
                    <div class="col-md-10 col-sm-12 form-group">
                        <textarea class="form-control" id="txtRemark" name="txtRemark" placeholder="Remark..."></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                @*<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>*@
                <button type="submit" class="btn btn-success pull-right" onclick="return CheckForm();">Submit</button>
            </div>
        </div>
    </div>
</div>


<button type="button" class="btn btn-info btn-lg hidden thisbuttonmessage" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#ThisButtonMessageClick">Click</button>
<div class="modal fade" id="ThisButtonMessageClick" role="dialog">
    <div class="modal-dialog" style="margin:13% auto!important;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title modelheading"></h5>
            </div>
            <div class="modal-body modelcontent"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>









@*<button type="button" class="btn btn-info btn-lg reissuerefund" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#ModelReIssueReFundClick">Click</button>
    <div class="modal fade" id="ModelReIssueReFundClick" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="reissuerefundheading">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Woohoo, you're reading this text in a modal!</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>*@